<div class="box">
    <div class="inner" align="center">
        <div style="width: 240px; text-align: left" >
            <span style="font-weight: bold; font-size: 10px; color: #e2e2e2;">Sponsored by</span>
            <div class="sep10"></div>
            {% if rnd|divisibleby:5 %}
            <a href="http://3cpeijianwang.taobao.com/" target="_blank" onClick="recordOutboundLink(this, 'Outbound Links', 'taobao.com');"><img src="http://static.v2ex.com/banners/3c1.png" border="0" width="120" height="90" alt="pogo sketch pro" /></a>
            <div class="sep5"></div>
            <span style="font-size: 11px; color: #666;">
                <strong style="color: #000;"><a href="http://3cpeijianwang.taobao.com/" class="black" target="_blank" onClick="recordOutboundLink(this, 'Outbound Links', 'taobao.com');">pogo sketch pro • 杰作，由此诞生</a></strong><div class="sep3"></div><span style="font-size: 12px;">一只精致的手写笔，它适用于任何角度，你有你自己的书写方式。全新的具有专利的笔头，让你随意更换，一定会是最适合你的。</span>
            </span>
            {% else %}
            {% if rnd|divisibleby:4 %}
            <a href="http://3cpeijianwang.taobao.com/" target="_blank" onClick="recordOutboundLink(this, 'Outbound Links', 'taobao.com');"><img src="http://static.v2ex.com/banners/3c2.png" border="0" width="120" height="90" alt="pogo sketch" /></a>
            <div class="sep5"></div>
            <span style="font-size: 11px; color: #666;">
                <strong style="color: #000;"><a href="http://3cpeijianwang.taobao.com/" class="black" target="_blank" onClick="recordOutboundLink(this, 'Outbound Links', 'taobao.com');">pogo sketch • 把触摸板变成绘画板！</a></strong><div class="sep3"></div><span style="font-size: 12px;">全新设计的金属夹子能够完美夹入口袋或 iPad 后壳。轻松的玩游戏、绘画、写字，你可以用 iPad 做更多的事情。泡沫笔端柔软，但牢固耐用，适合多种触摸屏。</span>
            </span>
            {% else %}
            {% if rnd|divisibleby:3 %}
            <a href="http://3cpeijianwang.taobao.com/" target="_blank" onClick="recordOutboundLink(this, 'Outbound Links', 'taobao.com');"><img src="http://static.v2ex.com/banners/3c3.png" border="0" width="120" height="90" alt="fling" /></a>
            <div class="sep5"></div>
            <span style="font-size: 11px; color: #666;">
                <strong style="color: #000;"><a href="http://3cpeijianwang.taobao.com/" class="black" target="_blank" onClick="recordOutboundLink(this, 'Outbound Links', 'taobao.com');">fling • 想念你玩游戏时的操作摇杆？</a></strong><div class="sep3"></div><span style="font-size: 12px;">fling 是由如丝般光滑的树脂制作，不够巴掌大小的 fling 弹性十足，获得了 Macworld Best Show 大奖。它已经完全可以让你忘却 PSP 了。</span>
            </span>
            {% else %}
            {% if rnd|divisibleby:2 %}
            <a href="http://3cpeijianwang.taobao.com/" target="_blank" onClick="recordOutboundLink(this, 'Outbound Links', 'taobao.com');"><img src="http://static.v2ex.com/banners/3c4.png" border="0" width="120" height="90" alt="fling mini" /></a>
            <div class="sep5"></div>
            <span style="font-size: 11px; color: #666;">
                <strong style="color: #000;"><a href="http://3cpeijianwang.taobao.com/" class="black" target="_blank" onClick="recordOutboundLink(this, 'Outbound Links', 'taobao.com');">fling mini • 手机游戏原来可以这么玩</a></strong><div class="sep3"></div><span style="font-size: 12px;">支持数百种游戏：KOF，FIFA 让你在手机种找回街机的快感。多终端、多系统支持：Android、iOS 还是 Windows Phone、平板电脑？不用担心，它都能胜任！</span>
            </span>
            {% else %}
            <a href="http://3cpeijian.com/" target="_blank" onClick="recordOutboundLink(this, 'Outbound Links', 'iphoto.ly');"><img src="http://static.v2ex.com/banners/3c5.png" border="0" width="120" height="90" alt="3C 配件网" /></a>
            <div class="sep5"></div>
            <span style="font-size: 11px; color: #666;">
                <strong style="color: #000;"><a href="http://3cpeijian.com/" class="black" target="_blank" onClick="recordOutboundLink(this, 'Outbound Links', '3cpeijian.com');">3C 配件网</a></strong><div class="sep3"></div><span style="font-size: 12px;">3C 配件网（ <a href="http://3cpeijian.com/" target="_blank">www.3cpeijian.com</a> ）是一家专营 3C 数码配件，全球集约式采购分销零售的线上商城。</span>
            </span>
            {% endif %}
            {% endif %}
            {% endif %}
            {% endif %}
            <div class="sep3"></div>
            <small class="fade">Promoted by <a href="http://3cpeijian.com/" target="_blank" onClick="recordOutboundLink(this, 'Outbound Links', '3cpeijian.com');">3C 配件网</a></small>
        </div>
    </div>
</div>