<div class="box">
    <div class="inner" align="center">
        <div style="width: 240px; text-align: left" >
            <span style="font-weight: bold; font-size: 10px; color: #e2e2e2;">Sponsored by</span>
            <div class="sep10"></div>
            {% if rnd|divisibleby:3 %}
            <a href="http://3g.163.com/links/3482" target="_blank" onClick="recordOutboundLink(this, 'Outbound Links', '3g.163.com');"><img src="http://static.v2ex.com/banners/m.163.com_01.png" border="0" width="120" height="90" alt="网易应用中心" /></a>
            <div class="sep5"></div>
            <span style="font-size: 11px; color: #666;">
                <strong style="color: #000;"><a href="http://3g.163.com/links/3482" class="black" onClick="recordOutboundLink(this, 'Outbound Links', '3g.163.com');" target="_blank">网易应用中心</a></strong><div class="sep3"></div><span style="font-size: 12px;">每日限免、冰点降价，网罗最新最全的精品应用，为用户打造最优质的应用下载平台！</span>
            </span>
            {% else %}
            {% if rnd|divisibleby:2 %}
            <a href="http://3g.163.com/links/3482" target="_blank" onClick="recordOutboundLink(this, 'Outbound Links', '3g.163.com');"><img src="http://static.v2ex.com/banners/m.163.com_02.jpg" border="0" width="120" height="90" alt="网易应用中心" /></a>
            <div class="sep5"></div>
            <span style="font-size: 11px; color: #666;">
                <strong style="color: #000;"><a href="http://3g.163.com/links/3482" class="black" onClick="recordOutboundLink(this, 'Outbound Links', '3g.163.com');" target="_blank">网易应用中心</a></strong><div class="sep3"></div><span style="font-size: 12px;">全新的应用点评系统，集结玩机达人用户的真实点评，提供最新最全的限时免费应用推荐！</span>
            </span>
            {% else %}
            <a href="http://3g.163.com/links/3482" target="_blank" onClick="recordOutboundLink(this, 'Outbound Links', '3g.163.com');"><img src="http://static.v2ex.com/banners/m.163.com_03.jpg" border="0" width="120" height="90" alt="网易应用中心" /></a>
            <div class="sep5"></div>
            <span style="font-size: 11px; color: #666;">
                <strong style="color: #000;"><a href="http://3g.163.com/links/3482" class="black" onClick="recordOutboundLink(this, 'Outbound Links', 'm.163.com');" target="_blank">网易应用中心</a></strong><div class="sep3"></div><span style="font-size: 12px;">全新的应用点评系统，集结玩机达人用户的真实点评，提供最新最全的限时免费应用推荐！</span>
            </span>
            {% endif %}
            </span>
            {% endif %}
            <div class="sep3"></div>
            <small class="fade">Promoted by <a href="http://m.163.com/" target="_blank" onClick="recordOutboundLink(this, 'Outbound Links', 'm.163.com');">网易应用中心</a></small>
        </div>
    </div>
</div>