<div class="box">
    <div class="inner" align="center">
        <div style="width: 240px; text-align: left" >
            <span style="font-weight: bold; font-size: 10px; color: #e2e2e2;">Sponsored by</span>
            <div class="sep10"></div>
            {% if rnd|divisibleby:3 %}
            <a href="http://itunes.apple.com/us/app/60-seconds/id349845481?mt=8" target="_blank"><img src="http://web.me.com/luokai/resource/60Seconds_120x90.png" border="0" width="120" height="90" alt="60 Seconds!" /></a>
            <div class="sep5"></div>
            <span style="font-size: 11px; color: #666;">
                <strong style="color: #000;"><a href="http://itunes.apple.com/us/app/60-seconds/id349845481?mt=8" class="black">60 Seconds!</a></strong><div class="sep3"></div><span style="font-size: 12px;">A game about challenging yourself!</span>
            </span>
            {% else %}
            {% if rnd|divisibleby:2 %}
            <a href="http://itunes.apple.com/us/app/style-clock/id353431465?mt=8" target="_blank"><img src="http://web.me.com/luokai/resource/StyleClock_animation.gif" border="0" width="120" height="90" alt="Style Clock" /></a>
            <div class="sep5"></div>
            <span style="font-size: 11px; color: #666;">
                <strong style="color: #000;"><a href="http://itunes.apple.com/us/app/style-clock/id353431465?mt=8" class="black">Style Clock</a></strong><div class="sep3"></div><span style="font-size: 12px;">A stylish table clock on your desktop.</span>
            </span>
            {% else %}
            <a href="http://itunes.apple.com/us/app/chn-laws/id365686640?mt=8" target="_blank"><img src="http://web.me.com/luokai/resource/CHNLaws_120x90.png" border="0" width="120" height="90" alt="CHN Laws 中国常用法律" /></a>
            <div class="sep5"></div>
            <span style="font-size: 11px; color: #666;">
                <strong style="color: #000;"><a href="http://itunes.apple.com/us/app/chn-laws/id365686640?mt=8" class="black">CHN Laws 中国常用法律</a></strong><div class="sep3"></div><span style="font-size: 12px;">这里收录最常用的中国法律。</span>
            </span>
            {% endif %}
            {% endif %}
            <div class="sep3"></div>
            <small class="fade">Promoted by <a href="http://apps.luokai.info/" target="_blank">lK Design</a></small>
        </div>
    </div>
</div>