<div class="box">
    {% if member %}
    {% if nodes_fav %}
    <div class="cell">
    {% else %}
    <div class="inner">
    {% endif %}
        <table cellpadding="0" cellspacing="0" border="0" width="100%">
            <tr>
                <td width="48" valign="top"><a href="/member/{{ member.username }}">{{ member|avatar:"normal"}}</a></td>
                <td width="10" valign="top"></td>
                <td width="auto" align="left"><span class="bigger"><a href="/member/{{ member.username }}">{{ member.username }}</a></span>
                    <div class="sep5"></div>
                    <span class="fade">{{ member.tagline }}</span>
                </td>
            </tr>
        </table>
        <div class="sep10"></div>
        <table cellpadding="0" cellspacing="0" border="0" width="100%">
            <tr>
                <td width="33%" align="center"><a href="/my/nodes" class="dark" style="display: block;"><span class="bigger">{{ member.favorited_nodes }}</span><div class="sep3"></div><span class="fade">节点收藏</span></a></td>
                <td width="34%" style="border-left: 1px solid #e2e2e2; border-right: 1px solid #e2e2e2;" align="center"><a href="/my/topics" class="dark" style="display: block;"><span class="bigger">{{ member.favorited_topics }}</span><div class="sep3"></div><span class="fade">主题收藏</span></a></td>
                <td width="33%" align="center"><a href="/my/following" class="dark" style="display: block;"><span class="bigger">{{ member.favorited_members }}</span><div class="sep3"></div><span class="fade">特别关注</span></a></td>
            </tr>
        </table>
        {% if member.twitter_oauth %}
        <div class="sep10"></div>
        <form method="post" action="/twitter/tweet">
        <textarea class="mlt" maxlength="140" name="status"></textarea>
        <div class="sep10"></div>
        <div align="right"><input type="submit" value="Tweet" class="super normal button" /></div>
        </form>
        {% endif %}
    </div>
    {% if nodes_fav %}
    <div class="inner">
    </div>
    {% endif %}
    {% if member.avatar_large_url %}
    {% else %}
    <div class="yellow">
        <span class="fade">你还没有上传头像 <a href="/settings/avatar">现在就上传</a></span>
    </div>
    {% endif %}
    {% else %}
    <div class="cell">
        <strong>{{ site.title }} = {{ site.slogan }}</strong>
        {% ifequal site.title 'V2EX' %}
        <div class="sep5"></div>
        <span class="fade">V2EX 是一个关于分享和探索的地方</span>
        {% endifequal %}
    </div>
    <div class="inner">
        <div class="sep5"></div>
        <div align="center"><a href="/signup" class="super normal button">{{ l10n.signup_now }}</a>
        <div class="sep5"></div>
        <div class="sep10"></div>
        {{ l10n.existing_member }}</div>
    </div>
    {% endif %}
</div>