application: v2ex
version: 1
runtime: python
api_version: 1

default_expiration: "10d"

derived_file_type:
- python_precompiled

handlers:
- url: /favicon.ico
  static_files: static/img/favicon.ico
  upload: static/img/favicon.ico

- url: /apple-touch-icon.png
  static_files: static/img/apple-touch-icon.png
  upload: static/img/apple-touch-icon.png
    
- url: /static
  static_dir: static  

- url: /settings
  script: member.py

- url: /settings/.*
  script: member.py

- url: /member/.*
  script: member.py

- url: /backstage
  script: backstage.py

- url: /backstage/.*
  script: backstage.py

- url: /new/.*
  script: topic.py
  
- url: /t/.*
  script: topic.py

- url: /r/.*
  script: topic.py
  
- url: /edit/.*
  script: topic.py
  
- url: /delete/.*
  script: topic.py

- url: /hit/.*
  script: topic.py

- url: /index/.*
  script: topic.py
  
- url: /avatar/.*
  script: avatar.py

- url: /index.xml
  script: feed.py
  
- url: /feed/v2ex.rss
  script: feed.py

- url: /feed/.*
  script: feed.py

- url: /about
  script: page.py
  
- url: /faq
  script: page.py

- url: /mission
  script: page.py

- url: /advertise
  script: page.py
  
- url: /advertisers
  script: page.py
  
- url: /notes/?
  script: notes.py

- url: /notes/.*
  script: notes.py

- url: /api/.*
  script: api.py

- url: /twitter/?
  script: t.py

- url: /twitter/.*
  script: t.py

- url: /time/?
  script: misc.py

- url: /mapreduce(/.*)?
  script: mapreduce/main.py
  login: admin

- url: /images(/.*)?
  script: images.py

- url: /place/([0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3})
  script: place.py

- url: /remove/place_message/(.*)
  script: place.py
 
- url: /_ah/mail/.+
  script: mail.py 
  login: admin

- url: /_ah/xmpp/.+
  script: xmpp.py 
  login: admin

- url: /remote_api
  script: $PYTHON_LIB/google/appengine/ext/remote_api/handler.py
  login: admin

- url: /block/(.*)
  script: member.py

- url: /unblock/(.*)
  script: member.py

- url: /webluker-verif.html
  script: misc.py

- url: /favorite/(.*)
  script: favorite.py

- url: /unfavorite/(.*)
  script: favorite.py

- url: /follow/(.*)
  script: favorite.py

- url: /unfollow/(.*)
  script: favorite.py

- url: /my/(.*)
  script: my.py

- url: /add/star/(.*)
  script: queue.py
  login: admin

- url: /minus/star/(.*)
  script: queue.py
  login: admin

- url: .*
  script: main.py

inbound_services:
- mail
- xmpp_message

builtins:
- datastore_admin: off