# This file is required for Twitter OAuth, please fill in your keys and secrets here.
# You can have different pairs for development and production.
# So that you can configure different callbacks in Twitter apps.

import os

if os.environ['SERVER_SOFTWARE'] == 'Development/1.0':
    CONSUMER_KEY = ''
    CONSUMER_SECRET = ''
else:
    CONSUMER_KEY = ''
    CONSUMER_SECRET = ''