<!DOCTYPE html>
<html lang="zh-CN">
<head>
	<meta charset="UTF-8" />
	<meta content='True' name='HandheldFriendly' />
	<meta content='width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;' name='viewport' />
	<title>{{ site.title }} › 后台 › New Node</title>
	<link rel="stylesheet" type="text/css" media="screen"  href="/static/css/mobile/style.css?v={{ system_version }}" />
	<link rel="shortcut icon" href="/favicon.ico" />
</head>
<body>
	{% include 'common/top.html' %}
    <div id="Main">
		<div class="section"><a href="/" class="black">{{ site.title }}</a> › <a href="/backstage" class="black">后台</a> › <a href="/backstage/section/{{ section.name }}" class="black">{{ section.title }}</a> › 新建节点</div>
		<div class="cell">
			<form action="/backstage/new/node/{{ section.name }}" method="post">
			{% if errors %}
			<strong>请解决以下错误之后继续。</strong>
			<div class="sep10"></div>
			<ul>
				{% if node_name_error %}
				<li>{{ node_name_error_message }}</li>
				{% endif %}
				{% if node_title_error %}
				<li>{{ node_title_error_message }}</li>
				{% endif %}
				{% if node_title_alternative_error %}
				<li>{{ node_title_alternative_error_message }}</li>
				{% endif %}
			</ul>
			<div class="sep5"></div>
			{% endif %}
			<table cellpadding="5" cellspacing="0" border="0">
			    <tr>
			        <td width="80" align="right">
			            节点名
			        </td>
			        <td width="200" align="left">
			            <input type="text" class="sl" name="name" value="{{ node_name|escape }}" />
			        </td>
			    </tr>
			    <tr>
			        <td width="80" align="right">
			            节点标题
			        </td>
			        <td width="200" align="left">
			            <input type="text" class="sl" name="title" value="{{ node_title|escape }}" />
			        </td>
			    </tr>
			    <tr>
			        <td width="80" align="right">
			            节点副标题
			        </td>
			        <td width="200" align="left">
			            <input type="text" class="sl" name="title_alternative" value="{{ node_title_alternative|escape }}" />
			        </td>
			    </tr>
			    <tr>
			        <td width="80" align="right">
			        </td>
			        <td width="200" align="left">
			            <input type="submit" value="Create"/>
			        </td>
			    </tr>
			</table>
			</form>
		</div>
	</div>
	{% include 'common/bottom.html' %}
</body>
</html>