<!DOCTYPE html>
<html lang="zh-CN">
<head>
	<meta charset="UTF-8" />
	<meta content='True' name='HandheldFriendly' />
	<meta content='width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;' name='viewport' />
	<title>{{ site_title }} › 登出</title>
	<link rel="stylesheet" type="text/css" media="screen"  href="/static/css/mobile/style.css?v={{ system_version }}" />
	<link rel="shortcut icon" href="/favicon.ico" />
</head>
<body>
	{% include 'common/top.html' %}
    <div id="Main">
		<div class="section"><a href="/" class="black">{{ site.title }}</a> › 登出</div>
		<div class="cell">
			你已经成功从 {{ site.title }} 登出。没有任何个人信息留在这台设备上。
			<div class="sep10"></div>
			<a href="/signin">重新登录</a>
		</div>
	</div>
	{% include 'common/bottom.html' %}
</body>
</html>