<!DOCTYPE html>
<html lang="zh-CN">
<head>
	<meta charset="UTF-8" />
	<meta content='True' name='HandheldFriendly' />
	<meta content='width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;' name='viewport' />
	<title>{{ site_title }} › 登入</title>
	<link rel="stylesheet" type="text/css" media="screen"  href="/static/css/mobile/style.css?v={{ system_version }}" />
	<link rel="shortcut icon" href="/favicon.ico" />
</head>
<body>
	{% include 'common/top.html' %}
    <div id="Main">
		<div class="section"><a href="/" class="black">{{ site.title }}</a> › 登入</div>
		<div class="cell">
			<form action="/signin" method="post">
			{% if errors %}
			<strong>{{ error_message }}</strong>
			<div class="sep5"></div>
			{% endif %}
			<table cellpadding="5" cellspacing="0" border="0">
			    <tr>
			        <td width="80" align="right">
			            用户名
			        </td>
			        <td width="200" align="left">
			            <input type="text" class="sl" name="u" value="{{ u|escape }}" />
			        </td>
			    </tr>
			    <tr>
			        <td width="80" align="right">
			            密码
			        </td>
			        <td width="200" align="left">
			            <input type="password" class="sl" name="p" value="{{ p|escape }}" />
			        </td>
			    </tr>
			    <tr>
			        <td width="80" align="right">
			        </td>
			        <td width="200" align="left">
			            <input type="submit" value="登入" class="btn" />
			        </td>
			    </tr>
			</table>
            </form>
		</div>
		<div class="cell">
			<a href="/signup">新用户注册</a>
		</div>
	</div>
	{% include 'common/bottom.html' %}
</body>
</html>