{% include 'common/head.html' %}
<body>
    {% include 'common/top.html' %}
    <div id="Wrapper">
    <div id="Main">
        <div id="Sidebar">   
        </div>
        <div id="Rightbar">
            {% include 'rightbar/user.html' %}
            <div class="sep20"></div>
            {% include 'rightbar/ads_appletuan.html' %}
        </div>
        <div id="Content">
            <div class="box">
                <div class="cell">
                    <span class="fade"><a href="/">{{ site.title }}</a> <span class="chevron">&nbsp;›&nbsp;</span> <a href="/advertise">Advertise</a> <span class="chevron">&nbsp;›&nbsp;</span> Advertisers</span>
                </div>
                <div class="cell">
                    <h1 style="padding-top: 0px;">Advertisers</h1>
                    <span class="bigger fade">感谢你们对这里的支持，帮助了 V2EX 能够持续存在并发展。</span>
                </div>
                <div class="cell">
                    <strong>Promoted by <a href="http://www.appletuan.com/" target="_blank" onClick="recordOutboundLink(this, 'Outbound Links', 'appletuan.com');">苹果团</a></strong>
                    <div clas="sep5"></div>
                    <strong class="fade">Reserved from 3/18 to 4/6, 2012</strong>
                    <div class="sep5"></div>
                    苹果团是一个走精品路线的苹果购机社区，目标是为大家打造一个真正值得信任的购机平台。
                    <div class="sep20"></div>
                    <table cellpadding="10" cellspacing="0" border="0" width="100%">
                        <tr>
                            <td width="33%" valign="top">
                                <a href="http://www.appletuan.com/?utm_source=v2ex&utm_medium=banner&utm_campaign=V2EX" target="_blank" onClick="recordOutboundLink(this, 'Outbound Links', 'appletuan.com');"><img src="http://static.v2ex.com/banners/appletuan_02.png" border="0" width="120" height="90" alt="苹果团" /></a>
                                <div class="sep5"></div>
                                <span style="font-size: 11px; color: #666;">
                                    <strong style="color: #000;"><a href="http://www.appletuan.com/?utm_source=v2ex&utm_medium=banner&utm_campaign=V2EX" class="black" onClick="recordOutboundLink(this, 'Outbound Links', 'appletuan.com');" target="_blank">苹果团</a></strong><div class="sep3"></div><span style="font-size: 12px;">小众而精品的苹果购机社区，每天下午 3 点更新华强北第一手 iPhone 4/4S，New iPad 及其他热销苹果产品报价。觉得价格合适就下手吧！</span>
                                </span>
                            </td>
                            <td width="34%" valign="top">
                                
                            </td>
                            <td width="33%" valign="top">
                                
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="cell">
                    <strong>Promoted by <a href="http://m.163.com/" target="_blank" onClick="recordOutboundLink(this, 'Outbound Links', 'm.163.com');">网易应用中心</a></strong>
                    <div clas="sep5"></div>
                    <strong class="fade">Reserved from 2/18 to 3/17, 2012</strong>
                    <div class="sep5"></div>
                    网易应用是网易公司为手机用户量身打造的多平台优质应用获取平台。是由手机客户端，Web 端、WAP 端组成全方位应用推荐/下载渠道。
                    <div class="sep20"></div>
                    <table cellpadding="10" cellspacing="0" border="0" width="100%">
                        <tr>
                            <td width="33%" valign="top">
                                <a href="http://3g.163.com/links/3482" target="_blank" onClick="recordOutboundLink(this, 'Outbound Links', '3g.163.com');"><img src="http://static.v2ex.com/banners/m.163.com_01.png" border="0" width="120" height="90" alt="网易应用中心" /></a>
                                <div class="sep5"></div>
                                <span style="font-size: 11px; color: #666;">
                                    <strong style="color: #000;"><a href="http://3g.163.com/links/3482" class="black" onClick="recordOutboundLink(this, 'Outbound Links', '3g.163.com');" target="_blank">网易应用中心</a></strong><div class="sep3"></div><span style="font-size: 12px;">每日限免、冰点降价，网罗最新最全的精品应用，为用户打造最优质的应用下载平台！</span>
                                </span>
                            </td>
                            <td width="34%" valign="top">
                                <a href="http://3g.163.com/links/3482" target="_blank" onClick="recordOutboundLink(this, 'Outbound Links', '3g.163.com');"><img src="http://static.v2ex.com/banners/m.163.com_02.jpg" border="0" width="120" height="90" alt="网易应用中心" /></a>
                                <div class="sep5"></div>
                                <span style="font-size: 11px; color: #666;">
                                    <strong style="color: #000;"><a href="http://3g.163.com/links/3482" class="black" onClick="recordOutboundLink(this, 'Outbound Links', '3g.163.com');" target="_blank">网易应用中心</a></strong><div class="sep3"></div><span style="font-size: 12px;">全新的应用点评系统，集结玩机达人用户的真实点评，提供最新最全的限时免费应用推荐！</span>
                                </span>
                            </td>
                            <td width="33%" valign="top">
                                <a href="http://3g.163.com/links/3482" target="_blank" onClick="recordOutboundLink(this, 'Outbound Links', '3g.163.com');"><img src="http://static.v2ex.com/banners/m.163.com_03.jpg" border="0" width="120" height="90" alt="网易应用中心" /></a>
                                <div class="sep5"></div>
                                <span style="font-size: 11px; color: #666;">
                                    <strong style="color: #000;"><a href="http://3g.163.com/links/3482" class="black" onClick="recordOutboundLink(this, 'Outbound Links', 'm.163.com');" target="_blank">网易应用中心</a></strong><div class="sep3"></div><span style="font-size: 12px;">全新的应用点评系统，集结玩机达人用户的真实点评，提供最新最全的限时免费应用推荐！</span>
                                </span>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="cell">
                    <strong>Promoted by <a href="http://www.3cpeijian.com/" target="_blank" onClick="recordOutboundLink(this, 'Outbound Links', '3cpeijian.com');">3C 配件网</a></strong>
                    <div clas="sep5"></div>
                    <strong class="fade">Reserved from 1/8 to 1/17</strong>
                    <div class="sep5"></div>
                    C 配件网（ <a href="http://www.3cpeijian.com/" target="_blank">www.3cpeijian.com</a> ）是一家专营 3C 数码配件，全球集约式采购分销零售的线上商城。<br /><br />
                    公司名称为北京创造世纪商贸有限公司，2011 年 1 月获得美国 Ten One Design 大中华区总经销代理其品牌下 fling / fling mini / pogo sketch / pogo sketch pro 产品。2011 年 5 月获得美国 Hub international 大中华区总经销代理其品牌下 handstand 产品。2011 年 11 月公司决定创建 3C 配件网，致力于网络零售与分销海外品牌营销。
                    <div class="sep20"></div>
                    <table cellpadding="10" cellspacing="0" border="0" width="100%">
                        <tr>
                            <td width="33%" valign="top">
                                <a href="http://3cpeijianwang.taobao.com/" target="_blank" onClick="recordOutboundLink(this, 'Outbound Links', 'taobao.com');"><img src="http://static.v2ex.com/banners/3c1.png" border="0" width="120" height="90" alt="pogo sketch pro" /></a>
                                <div class="sep5"></div>
                                <span style="font-size: 11px; color: #666;">
                                    <strong style="color: #000;"><a href="http://3cpeijianwang.taobao.com/" class="black" target="_blank" onClick="recordOutboundLink(this, 'Outbound Links', 'taobao.com');">pogo sketch pro • 杰作，由此诞生</a></strong><div class="sep3"></div><span style="font-size: 12px;">一只精致的手写笔，它适用于任何角度，你有你自己的书写方式。全新的具有专利的笔头，让你随意更换，一定会是最适合你的。</span>
                                </span>
                            </td>
                            <td width="34%" valign="top">
                                <a href="http://3cpeijianwang.taobao.com/" target="_blank" onClick="recordOutboundLink(this, 'Outbound Links', 'taobao.com');"><img src="http://static.v2ex.com/banners/3c2.png" border="0" width="120" height="90" alt="pogo sketch" /></a>
                                <div class="sep5"></div>
                                <span style="font-size: 11px; color: #666;">
                                    <strong style="color: #000;"><a href="http://3cpeijianwang.taobao.com/" class="black" target="_blank" onClick="recordOutboundLink(this, 'Outbound Links', 'taobao.com');">pogo sketch • 把触摸板变成绘画板！</a></strong><div class="sep3"></div><span style="font-size: 12px;">全新设计的金属夹子能够完美夹入口袋或 iPad 后壳。轻松的玩游戏、绘画、写字，你可以用 iPad 做更多的事情。泡沫笔端柔软，但牢固耐用，适合多种触摸屏。</span>
                                </span>
                            </td>
                            <td width="33%" valign="top">
                                <a href="http://3cpeijianwang.taobao.com/" target="_blank" onClick="recordOutboundLink(this, 'Outbound Links', 'taobao.com');"><img src="http://static.v2ex.com/banners/3c3.png" border="0" width="120" height="90" alt="fling" /></a>
                                <div class="sep5"></div>
                                <span style="font-size: 11px; color: #666;">
                                    <strong style="color: #000;"><a href="http://3cpeijianwang.taobao.com/" class="black" target="_blank" onClick="recordOutboundLink(this, 'Outbound Links', 'taobao.com');">fling • 想念你玩游戏时的操作摇杆？</a></strong><div class="sep3"></div><span style="font-size: 12px;">fling 是由如丝般光滑的树脂制作，不够巴掌大小的 fling 弹性十足，获得了 Macworld Best Show 大奖。它已经完全可以让你忘却 PSP 了。</span>
                                </span>
                            </td>
                        </tr>
                        <tr>
                            <td width="33%" valign="top">
                                <a href="http://3cpeijianwang.taobao.com/" target="_blank" onClick="recordOutboundLink(this, 'Outbound Links', 'taobao.com');"><img src="http://static.v2ex.com/banners/3c4.png" border="0" width="120" height="90" alt="fling mini" /></a>
                                <div class="sep5"></div>
                                <span style="font-size: 11px; color: #666;">
                                    <strong style="color: #000;"><a href="http://3cpeijianwang.taobao.com/" class="black" target="_blank" onClick="recordOutboundLink(this, 'Outbound Links', 'taobao.com');">fling mini • 手机游戏原来可以这么玩</a></strong><div class="sep3"></div><span style="font-size: 12px;">支持数百种游戏：KOF，FIFA 让你在手机种找回街机的快感。多终端、多系统支持：Android、iOS 还是 Windows Phone、平板电脑？不用担心，它都能胜任！</span>
                                </span>
                            </td>
                            <td width="34%" valign="top">
                                <a href="http://3cpeijian.com/" target="_blank" onClick="recordOutboundLink(this, 'Outbound Links', 'iphoto.ly');"><img src="http://static.v2ex.com/banners/3c5.png" border="0" width="120" height="90" alt="3C 配件网" /></a>
                                <div class="sep5"></div>
                                <span style="font-size: 11px; color: #666;">
                                    <strong style="color: #000;"><a href="http://3cpeijian.com/" class="black" target="_blank" onClick="recordOutboundLink(this, 'Outbound Links', '3cpeijian.com');">3C 配件网</a></strong><div class="sep3"></div><span style="font-size: 12px;">3C 配件网（ <a href="http://3cpeijian.com/" target="_blank">www.3cpeijian.com</a> ）是一家专营 3C 数码配件，全球集约式采购分销零售的线上商城。</span>
                                </span>
                            </td>
                            <td width="33%" valign="top">
                                
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="cell">
                    <strong>Promoted by <a href="http://www.appletuan.com/?utm_source=v2ex&utm_medium=banner&utm_campaign=V2EX" target="_blank" onClick="recordOutboundLink(this, 'Outbound Links', 'appletuan.com');">苹果团</a></strong>
                    <div clas="sep5"></div>
                    <strong class="fade">Reserved from 12/1 to 12/31, 2011</strong>
                    <div class="sep5"></div>
                    苹果团是一个走精品路线的苹果购机社区，目标是为大家打造一个真正值得信任的购机平台。
                    <div class="sep20"></div>
                    <table cellpadding="10" cellspacing="0" border="0" width="100%">
                        <tr>
                            <td width="33%" valign="top">
                                <a href="http://www.appletuan.com/?utm_source=v2ex&utm_medium=banner&utm_campaign=V2EX" target="_blank" onClick="recordOutboundLink(this, 'Outbound Links', 'appletuan.com');"><img src="http://static.v2ex.com/banners/appletuan.png" border="0" width="120" height="90" alt="AngelCrunch" /></a>
                                <div class="sep5"></div>
                                <span style="font-size: 11px; color: #666;">
                                    <strong style="color: #000;"><a href="http://www.appletuan.com/?utm_source=v2ex&utm_medium=banner&utm_campaign=V2EX" class="black" onClick="recordOutboundLink(this, 'Outbound Links', 'appletuan.com');" target="_blank">苹果团</a></strong><div class="sep3"></div><span style="font-size: 12px;">小众而精品的苹果购机社区，每日更新华强北第一手报价</span>
                                </span>
                            </td>
                            <td width="34%" valign="top">
                            </td>
                            <td width="33%" valign="top">
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="cell">
                    <strong>Promoted by <a href="http://www.tangcha.tc/?utm_source=v2ex&utm_medium=banner&utm_campaign=V2EX" target="_blank" onClick="recordOutboundLink(this, 'Outbound Links', 'tangcha.tc');">唐茶计划</a></strong>
                    <div clas="sep5"></div>
                    <strong class="fade">Reserved from 11/1 to 11/30, 2011</strong>
                    <div class="sep5"></div>
                    唐茶计划只有一个目的：让人们在移动设备上舒服地读到好东西。中文的。 
                    <div class="sep20"></div>
                    <table cellpadding="10" cellspacing="0" border="0" width="100%">
                        <tr>
                            <td width="33%" valign="top">
                                <a href="http://itunes.apple.com/us/app/id473589027?mt=8&utm_source=v2ex&utm_medium=banner&utm_campaign=V2EX" target="_blank" onClick="recordOutboundLink(this, 'Outbound Links', 'itunes.apple.com');"><img src="http://static.v2ex.com/banners/steve_jobs_and_v2ex.jpg" border="0" width="120" height="90" alt="AngelCrunch" /></a>
                                <div class="sep5"></div>
                                <span style="font-size: 11px; color: #666;">
                                    <strong style="color: #000;"><a href="http://itunes.apple.com/us/app/id473589027?mt=8&utm_source=v2ex&utm_medium=banner&utm_campaign=V2EX" class="black" onClick="recordOutboundLink(this, 'Outbound Links', 'itunes.apple.com');" target="_blank">《史蒂夫·乔布斯传》唐茶版</a></strong><div class="sep3"></div><span style="font-size: 12px;">1.0.2 更新上线，<span style="color: #db4937;">添加人物释义与纠错功能！</span></span>
                                </span>
                            </td>
                            <td width="34%" valign="top">
                                <a href="http://itunes.apple.com/us/app/id482482505?mt=8&utm_source=v2ex&utm_medium=banner&utm_campaign=V2EX" target="_blank" onClick="recordOutboundLink(this, 'Outbound Links', 'itunes.apple.com');"><img src="http://static.v2ex.com/banners/strangers_and_v2ex.jpg" border="0" width="120" height="90" alt="AngelCrunch" /></a>
                                <div class="sep5"></div>
                                <span style="font-size: 11px; color: #666;">
                                    <strong style="color: #000;"><a href="http://itunes.apple.com/us/app/id482482505?mt=8&utm_source=v2ex&utm_medium=banner&utm_campaign=V2EX" class="black" onClick="recordOutboundLink(this, 'Outbound Links', 'itunes.apple.com');" target="_blank">《祖国的陌生人》唐茶版</a></strong><div class="sep3"></div><span style="font-size: 12px;">App Store 热销中，<span style="color: #db4937;">仅售 6 元</span></span>
                                </span>
                            </td>
                            <td width="33%" valign="top">
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="cell">
                    <strong>Promoted by <a href="http://www.angelcrunch.com/?utm_source=v2ex&utm_medium=banner&utm_campaign=V2EX" target="_blank" onClick="recordOutboundLink(this, 'Outbound Links', 'angelcrunch.com');">AngelCrunch</a></strong>
                    <div clas="sep5"></div>
                    <strong class="fade">Reserved from 9/28 to 10/27, 2011</strong>
                    <div class="sep5"></div>
                    AngelCrunch 是一个可以帮助初创企业迅速找到天使投资，帮助天使投资人发现优质初创项目的平台。 
                    <div class="sep20"></div>
                    <table cellpadding="10" cellspacing="0" border="0" width="100%">
                        <tr>
                            <td width="33%" valign="top">
                                <a href="http://www.angelcrunch.com/?utm_source=v2ex&utm_medium=banner&utm_campaign=V2EX" target="_blank" onClick="recordOutboundLink(this, 'Outbound Links', 'angelcrunch.com');"><img src="http://static.v2ex.com/banners/angelcrunch_0.png" border="0" width="120" height="90" alt="AngelCrunch" /></a>
                                <div class="sep5"></div>
                                <span style="font-size: 11px; color: #666;">
                                    <strong style="color: #000;"><a href="http://www.angelcrunch.com/?utm_source=v2ex&utm_medium=banner&utm_campaign=V2EX" class="black" onClick="recordOutboundLink(this, 'Outbound Links', 'angelcrunch.com');">天使汇 • AngelCrunch</a></strong><div class="sep3"></div><span style="font-size: 12px;">让靠谱项目找到靠谱钱</span>
                                </span>
                            </td>
                            <td width="34%" valign="top">
                            </td>
                            <td width="33%" valign="top">
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="cell">
                    <strong>Promoted by <a href="http://www.tisiwi.com/?utm_source=v2ex&utm_medium=banner&utm_campaign=V2EX" target="_blank" onClick="recordOutboundLink(this, 'Outbound Links', 'tisiwi.com');">天使湾</a></strong>
                    <div clas="sep5"></div>
                    <strong class="fade">Reserved from 6/3 to 7/4, 2011</strong>
                    <div class="sep5"></div>
                    我们相信互联网对人类社会的发展将起到重大推动作用。我们愿意和心怀愿景和梦想的创业者，用互联网精神和方法，对社会发展的重大问题提出解决和改善之道。我们认为互联网的发展和应用依旧处于萌芽状态。天使湾，为此而生。
                    <div class="sep20"></div>
                    <table cellpadding="10" cellspacing="0" border="0" width="100%">
                        <tr>
                            <td width="33%" valign="top">
                                <a href="http://www.tisiwi.com/blog/?p=320&utm_source=v2ex&utm_medium=banner&utm_campaign=V2EX" target="_blank" onClick="recordOutboundLink(this, 'Outbound Links', 'tiwisi.com');"><img src="http://web.me.com/v2ex.livid/badges/tisiwi_2011_0.jpg" border="0" width="120" height="90" alt="天使湾" /></a>
                                <div class="sep5"></div>
                                <span style="font-size: 11px; color: #666;">
                                    <strong style="color: #000;"><a href="http://www.tisiwi.com/blog/?p=320&utm_source=v2ex&utm_medium=banner&utm_campaign=V2EX" class="black" onClick="recordOutboundLink(this, 'Outbound Links', 'we.jiepang.com');">让我们私奔吧</a></strong><div class="sep3"></div><span style="font-size: 12px;">天使湾聚变・2011 创业之夏-互联网创业团队招募</span>
                                </span>
                            </td>
                            <td width="34%" valign="top">
                                <a href="http://www.tisiwi.com/blog/?p=320&utm_source=v2ex&utm_medium=banner&utm_campaign=V2EX" target="_blank" onClick="recordOutboundLink(this, 'Outbound Links', 'tisiwi.com');"><img src="http://web.me.com/v2ex.livid/badges/tisiwi_2011_1.jpg" border="0" width="120" height="90" alt="天使湾" /></a>
                                <div class="sep5"></div>
                                <span style="font-size: 11px; color: #666;">
                                    <strong style="color: #000;"><a href="http://www.tisiwi.com/blog/?p=320&utm_source=v2ex&utm_medium=banner&utm_campaign=V2EX" class="black" onClick="recordOutboundLink(this, 'Outbound Links', 'tisiwi.com');">该轮到我们上场了</a></strong><div class="sep3"></div><span style="font-size: 12px;">天使湾聚变・2011 创业之夏-互联网创业团队招募</span>
                                </span>
                            </td>
                            <td width="33%" valign="top">
                                
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="cell">
                    <strong>Promoted by <a href="http://iweek.ly/?utm_source=v2ex&utm_medium=banner&utm_campaign=V2EX" target="_blank" onClick="recordOutboundLink(this, 'Outbound Links', 'iweek.ly');">iWeek.ly</a></strong>
                    <div clas="sep5"></div>
                    <strong class="fade">Reserved from 10/15 to 12/31, 2010</strong>
                    <div class="sep10"></div>
                    <table cellpadding="10" cellspacing="0" border="0" width="100%">
                        <tr>
                            <td width="33%" valign="top">
                                <a href="http://iweek.ly/?utm_source=v2ex&utm_medium=banner&utm_campaign=V2EX" target="_blank" onClick="recordOutboundLink(this, 'Outbound Links', 'iweek.ly');"><img src="http://web.me.com/v2ex.livid/badges/iweekly_20101018_1.png" border="0" width="120" height="90" alt="iWeek.ly" /></a>
                                <div class="sep5"></div>
                                <span style="font-size: 11px; color: #666;">
                                    <strong style="color: #000;"><a href="http://iweek.ly/?utm_source=v2ex&utm_medium=banner&utm_campaign=V2EX" class="black" onClick="recordOutboundLink(this, 'Outbound Links', 'iweek.ly');">周末画报·iWeekly</a></strong><div class="sep3"></div><span style="font-size: 12px;">全球最具影响力的 iPhone 中文媒体 app <span class="fade">•</span> 全面支持 iPhone 4 高清显示</span>
                                </span>
                            </td>
                            <td width="34%" valign="top">
                                <a href="http://iweek.ly/?utm_source=v2ex&utm_medium=banner&utm_campaign=V2EX" target="_blank" onClick="recordOutboundLink(this, 'Outbound Links', 'iweek.ly');"><img src="http://web.me.com/v2ex.livid/badges/iweekly_20101018_2.png" border="0" width="120" height="90" alt="iWeek.ly" /></a>
                                <div class="sep5"></div>
                                <span style="font-size: 11px; color: #666;">
                                    <strong style="color: #000;"><a href="http://iweek.ly/?utm_source=v2ex&utm_medium=banner&utm_campaign=V2EX" class="black" onClick="recordOutboundLink(this, 'Outbound Links', 'iweek.ly');">周末画报·iWeekly</a></strong><div class="sep3"></div><span style="font-size: 12px;">全球最具影响力的 iPhone 中文媒体 app <span class="fade">•</span> 全面支持 iPhone 4 高清显示</span>
                                </span>
                            </td>
                            <td width="33%" valign="top">
                                <a href="http://itunes.apple.com/app/id400003473?mt=8" class="black" onClick="recordOutboundLink(this, 'Outbound Links', 'itunes.apple.com');"><img src="http://web.me.com/v2ex.livid/badges/iview.png" border="0" width="120" height="90" alt="iWeek.ly for iPad" /></a>
                                <div class="sep5"></div>
                                <span style="font-size: 11px; color: #666;">
                                    <strong style="color: #000;"><a href="http://itunes.apple.com/app/id400003473?mt=8" class="black" onClick="recordOutboundLink(this, 'Outbound Links', 'itunes.apple.com');">周末画报·iWeekly HD for iPad</a></strong><div class="sep3"></div><span style="font-size: 12px;">全新的设计与内容定位 + iPad 对图像优异的表现力，呈现出拥有最佳觉体验的杂志内容</span>
                                </span>
                            </td>
                        </tr>
                        <tr>
                            <td width="33%" valign="top">
                                <a href="http://itunes.apple.com/app/id406170251?mt=8" class="black" onClick="recordOutboundLink(this, 'Outbound Links', 'itunes.apple.com');"><img src="http://static.v2ex.com/banners/idays.png" border="0" width="120" height="98" alt="Days Matter" /></a>
                                <div class="sep5"></div>
                                <span style="font-size: 11px; color: #666;">
                                    <strong style="color: #000;"><a href="http://itunes.apple.com/app/id406170251?mt=8" class="black" onClick="recordOutboundLink(this, 'Outbound Links', 'itunes.apple.com');">倒数日·Days Matter</a></strong><div class="sep3"></div><span style="font-size: 12px;">一个帮你记录生活中重要日子的小工具</span>
                                </span>
                            </td>
                            <td width="34%" valign="top">
                                <a href="http://iweek.ly/?utm_source=v2ex&utm_medium=banner&utm_campaign=V2EX" class="black" onClick="recordOutboundLink(this, 'Outbound Links', 'itunes.apple.com');"><img src="http://static.v2ex.com/banners/iweekly_20101221.png" border="0" width="120" height="98" alt="iWeekly" /></a>
                                <div class="sep5"></div>
                                <span style="font-size: 11px; color: #666;">
                                    <strong style="color: #000;"><a href="http://iweek.ly/?utm_source=v2ex&utm_medium=banner&utm_campaign=V2EX" class="black" onClick="recordOutboundLink(this, 'Outbound Links', 'iweek.ly');">周末画报·iWeekly <strong>V0.6</strong></a></strong><div class="sep3"></div><span style="font-size: 12px;">新增：已读提示，全新导航条及网络性能优化。iPhone 上最好的阅读体验再次升级！</span>
                                </span>
                            </td>
                            <td></td>
                        </tr>
                    </table>
                </div>
                <div class="cell">
                    <strong>Promoted by <a href="http://jiepang.com/?utm_source=v2ex&utm_medium=banner&utm_campaign=V2EX" target="_blank" onClick="recordOutboundLink(this, 'Outbound Links', 'jiepang.com');">街旁</a></strong>
                    <div clas="sep5"></div>
                    <strong class="fade">Reserved from 10/8 to 10/15, 2010</strong>
                    <div class="sep5"></div>
                    街旁是新一代的移动社交平台，帮您和朋友分享在哪里，做什么。你可以记录自己每天的足迹，成为你自己充满回忆的出行日记。还能轻松和朋友分享！街旁还能带你探索身边的城市，发现最潮的店铺和优惠！
                    <div class="sep20"></div>
                    <table cellpadding="10" cellspacing="0" border="0" width="100%">
                        <tr>
                            <td width="33%" valign="top">
                                <a href="http://we.jiepang.com/careers/?utm_source=v2ex&utm_medium=banner&utm_campaign=V2EX" target="_blank" onClick="recordOutboundLink(this, 'Outbound Links', 'we.jiepang.com');"><img src="http://web.me.com/v2ex.livid/badges/jiepang.png" border="0" width="120" height="90" alt="街旁" /></a>
                                <div class="sep5"></div>
                                <span style="font-size: 11px; color: #666;">
                                    <strong style="color: #000;"><a href="http://we.jiepang.com/careers/?utm_source=v2ex&utm_medium=banner&utm_campaign=V2EX" class="black" onClick="recordOutboundLink(this, 'Outbound Links', 'we.jiepang.com');">街旁寻 iOS 开发者</a></strong><div class="sep3"></div><span style="font-size: 12px;">街旁是一支短小精悍的团队，期待你的加入 :)</span>
                                </span>
                            </td>
                            <td width="34%" valign="top">
                                <a href="http://jiepang.com/?utm_source=v2ex&utm_medium=banner&utm_campaign=V2EX" target="_blank" onClick="recordOutboundLink(this, 'Outbound Links', 'jiepang.com');"><img src="http://web.me.com/v2ex.livid/badges/jiepang_2.png" border="0" width="120" height="90" alt="街旁" /></a>
                                <div class="sep5"></div>
                                <span style="font-size: 11px; color: #666;">
                                    <strong style="color: #000;"><a href="http://jiepang.com/?utm_source=v2ex&utm_medium=banner&utm_campaign=V2EX" class="black" onClick="recordOutboundLink(this, 'Outbound Links', 'jiepang.com');">街旁</a></strong><div class="sep3"></div><span style="font-size: 12px;">探索城市，记录生活，做街旁潮人！</span>
                                </span>
                            </td>
                            <td width="33%" valign="top">
                                
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="cell">
                    <strong>Promoted by <a href="http://iweek.ly/?utm_source=v2ex&utm_medium=banner&utm_campaign=V2EX" target="_blank" onClick="recordOutboundLink(this, 'Outbound Links', 'iweek.ly');">iWeek.ly</a></strong>
                    <div clas="sep5"></div>
                    <strong class="fade">Reserved from 8/8 to 10/8, 2010</strong>
                    <div class="sep10"></div>
                    <table cellpadding="10" cellspacing="0" border="0" width="100%">
                        <tr>
                            <td width="33%" valign="top">
                                <a href="http://m.metroer.com/?utm_source=v2ex&utm_medium=banner&utm_campaign=V2EX" target="_blank" onClick="recordOutboundLink(this, 'Outbound Links', 'm.metroer.com');"><img src="http://pic.yupoo.com/iweekly/096159c22d9d/s6j9vpzt.jpg" border="0" width="120" height="90" alt="良品杂志" /></a>
                                <div class="sep5"></div>
                                <span style="font-size: 11px; color: #666;">
                                    <strong style="color: #000;"><a href="http://m.metroer.com/?utm_source=v2ex&utm_medium=banner&utm_campaign=V2EX" class="black" target="_blank" onClick="recordOutboundLink(this, 'Outbound Links', 'm.metroer.com');">阅读·良品杂志</a></strong><div class="sep3"></div><span style="font-size: 12px;">平媒精选，阅读良品</span>
                                </span>
                            </td>
                            <td width="34%" valign="top">
                                <a href="http://iweek.ly/?utm_source=v2ex&utm_medium=banner&utm_campaign=V2EX" target="_blank" onClick="recordOutboundLink(this, 'Outbound Links', 'iweek.ly');"><img src="http://pic.yupoo.com/iweekly/313769c22d9e/tsunlkjv.jpg" border="0" width="120" height="90" alt="iWeek.ly" /></a>
                                <div class="sep5"></div>
                                <span style="font-size: 11px; color: #666;">
                                    <strong style="color: #000;"><a href="http://iweek.ly/?utm_source=v2ex&utm_medium=banner&utm_campaign=V2EX" class="black" target="_blank" onClick="recordOutboundLink(this, 'Outbound Links', 'iweek.ly');">周末画报·iWeekly</a></strong><div class="sep3"></div><span style="font-size: 12px;">全球最具影响力的中文生活方式媒体 @iPhone，现代传播新媒体项目</span>
                                </span>
                            </td>
                            <td width="33%" valign="top">
                                <a href="http://iphoto.ly/?utm_source=v2ex&utm_medium=banner&utm_campaign=V2EX" target="_blank" onClick="recordOutboundLink(this, 'Outbound Links', 'iphoto.ly');"><img src="http://pic.yupoo.com/iweekly/819989c22d9f/mx4gun4x.jpg" border="0" width="120" height="90" alt="iPhoto.ly" /></a>
                                <div class="sep5"></div>
                                <span style="font-size: 11px; color: #666;">
                                    <strong style="color: #000;"><a href="http://iphoto.ly/?utm_source=v2ex&utm_medium=banner&utm_campaign=V2EX" class="black" target="_blank" onClick="recordOutboundLink(this, 'Outbound Links', 'iphoto.ly');">中文摄影杂志</a></strong><div class="sep3"></div><span style="font-size: 12px;">摄影改变生活，Photography Change Life</span>
                                </span>
                            </td>
                        </tr>
                        <tr>
                            <td width="33%" valign="top">
                                <a href="http://www.animetaste.net/?utm_source=v2ex&utm_medium=banner&utm_campaign=V2EX" target="_blank" onClick="recordOutboundLink(this, 'Outbound Links', 'animetaste.net');"><img src="http://web.me.com/v2ex.livid/iweekly/animetaste.gif" border="0" width="120" height="90" alt="AnimeTaste" /></a>
                                <div class="sep5"></div>
                                <span style="font-size: 11px; color: #666;">
                                    <strong style="color: #000;"><a href="http://www.animetaste.net/?utm_source=v2ex&utm_medium=banner&utm_campaign=V2EX" class="black" target="_blank" onClick="recordOutboundLink(this, 'Outbound Links', 'animetaste.net');">AnimeTaste</a></strong><div class="sep3"></div><span style="font-size: 12px;">分享动画的快乐</span>
                                </span>
                            </td>
                            <td width="34%" valign="top">
                                <a href="http://itunes.apple.com/app/id389793068?mt=8" target="_blank" onClick="recordOutboundLink(this, 'Outbound Links', 'itunes.apple.com');"><img src="http://pic.yupoo.com/iweekly/AsmLdeUx/QXYgi.jpg" border="0" width="120" height="90" alt="iMoney HD" /></a>
                                <div class="sep5"></div>
                                <span style="font-size: 11px; color: #666;">
                                    <strong style="color: #000;"><a href="http://itunes.apple.com/app/id389793068?mt=8" class="black" onClick="recordOutboundLink(this, 'Outbound Links', 'itunes.apple.com');">iMoney HD</a></strong><div class="sep3"></div><span style="font-size: 12px;">11 国货币转换，为 iPhone 4 优化</span>
                                </span>
                            </td>
                            <td width="33%" valign="top"></td>
                        </tr>
                    </table>
                </div>
                <div class="cell">
                    <strong>Promoted by <a href="http://apps.luokai.info/?utm_source=v2ex&utm_medium=banner&utm_campaign=V2EX" target="_blank" onClick="recordOutboundLink(this, 'Outbound Links', 'apps.luokai.info');">lk Design</a></strong>
                    <div clas="sep5"></div>
                    <strong class="fade">Reserved from 7/25 to 8/8, 2010</strong>
                    <div class="sep5"></div>
                    Design 是一个很小规模的手工作坊，主要生产 iOS 系列应用。<br /><br />

                    从 2009 年底开始，我们一直在努力尝试制作各种有意思的应用，虽然在这个巨大的行业里面几乎还没有我们的位置，我们却把它当作是生活的一部分，认真对待并且自然享受。<br /><br />

                    除了制作感兴趣的程序之外，我们还为一些喜欢的乐队设计应用。刚刚结束的一个设计目前正在准备提交苹果，相信很快就可以和大家见面了，我们非常期待，因为我们并不是职业外包生产力，这件事情就像生活一样自然，我们只是作为忠实的乐迷在享受着这份快乐。<br /><br />

                    lK Design 目前还仅仅是一个手工作坊而已，远谈不上手工"艺"，不过或许这个字就是我们的努力方向。
                    <div class="sep20"></div>
                    <table cellpadding="10" cellspacing="0" border="0" width="100%">
                        <tr>
                            <td width="33%" valign="top">
                                <a href="http://itunes.apple.com/us/app/60-seconds/id349845481?mt=8" target="_blank"><img src="http://web.me.com/luokai/resource/60Seconds_120x90.png" border="0" width="120" height="90" alt="60 Seconds!" /></a>
                                <div class="sep5"></div>
                                <span style="font-size: 11px; color: #666;">
                                    <strong style="color: #000;"><a href="http://itunes.apple.com/us/app/60-seconds/id349845481?mt=8" class="black" target="_blank">60 Seconds!</a></strong><div class="sep3"></div><span style="font-size: 12px;">A game about challenging yourself!</span>
                                </span>
                            </td>
                            <td width="34%" valign="top">
                                <a href="http://itunes.apple.com/us/app/chn-laws/id365686640?mt=8" target="_blank"><img src="http://web.me.com/luokai/resource/CHNLaws_120x90.png" border="0" width="120" height="90" alt="CHN Laws 中国常用法律" /></a>
                                <div class="sep5"></div>
                                <span style="font-size: 11px; color: #666;">
                                    <strong style="color: #000;"><a href="http://itunes.apple.com/us/app/chn-laws/id365686640?mt=8" class="black" target="_blank">CHN Laws 中国常用法律</a></strong><div class="sep3"></div><span style="font-size: 12px;">这里收录最常用的中国法律。</span>
                                </span>
                            </td>
                            <td width="33%" valign="top">
                                <a href="http://itunes.apple.com/us/app/style-clock/id353431465?mt=8" target="_blank" target="_blank"><img src="http://web.me.com/luokai/resource/StyleClock_animation.gif" border="0" width="120" height="90" alt="Style Clock" /></a>
                                <div class="sep5"></div>
                                <span style="font-size: 11px; color: #666;">
                                    <strong style="color: #000;"><a href="http://itunes.apple.com/us/app/style-clock/id353431465?mt=8" class="black">Style Clock</a></strong><div class="sep3"></div><span style="font-size: 12px;">A stylish table clock on your desktop.</span>
                                </span>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="inner" align="center"><div class="sep5"></div>
                    <a href="mailto:hello@v2ex.com?subject=广告投放咨询" class="super normal button">我要投放</a>
                    <div class="sep5"></div>
                </div>
            </div>
        </div>
    <div class="c"></div>
    </div>
    </div>
    {% include 'common/bottom.html' %}
</body>
</html>