{% include 'common/head.html' %}
<body>
    {% include 'common/top.html' %}
    <div id="Wrapper">
    <div id="Main">
        <div id="Sidebar">   
        </div>
        <div id="Rightbar">
            {% include 'rightbar/user.html' %}
            <div class="sep20"></div>
            {% include 'rightbar/ads.html' %}
        </div>
        <div id="Content">
            <div class="box">
                <div class="cell">
                    <span class="fade"><a href="/">{{ site.title }}</a> <span class="chevron">&nbsp;›&nbsp;</span> <a href="/advertise">Advertise</a> <span class="chevron">&nbsp;›&nbsp;</span> Advertisers</span>
                </div>
                <div class="cell">
                    <h1 style="padding-top: 0px;">Advertisers of V2EX</h1>
                    <div class="sep20"></div>
                    <span class="bigger fade">感谢你们对这里的支持，让 V2EX 能够持续存在并发展。</span>
                </div>
                <div class="cell">
                    <strong>Promoted by <a href="http://iweek.ly/?utm_source=v2ex&utm_medium=banner&utm_campaign=V2EX" target="_blank" onClick="recordOutboundLink(this, 'Outbound Links', 'iweek.ly');">iWeek.ly</a></strong>
                    <div clas="sep5"></div>
                    <strong class="green">Reserved from 10/15 to 12/31, 2010 - Running</strong>
                    <div class="sep10"></div>
                    <table cellpadding="10" cellspacing="0" border="0" width="100%">
                        <tr>
                            <td width="33%" valign="top">
                                <a href="http://iweek.ly/?utm_source=v2ex&utm_medium=banner&utm_campaign=V2EX" target="_blank" onClick="recordOutboundLink(this, 'Outbound Links', 'iweek.ly');"><img src="http://web.me.com/v2ex.livid/badges/iweekly_20101018_1.png" border="0" width="120" height="90" alt="iWeek.ly" /></a>
                                <div class="sep5"></div>
                                <span style="font-size: 11px; color: #666;">
                                    <strong style="color: #000;"><a href="http://iweek.ly/?utm_source=v2ex&utm_medium=banner&utm_campaign=V2EX" class="black" onClick="recordOutboundLink(this, 'Outbound Links', 'iweek.ly');">周末画报·iWeekly</a></strong><div class="sep3"></div><span style="font-size: 12px;">全球最具影响力的 iPhone 中文媒体 app <span class="fade">•</span> 全面支持 iPhone 4 高清显示</span>
                                </span>
                            </td>
                            <td width="34%" valign="top">
                                <a href="http://iweek.ly/?utm_source=v2ex&utm_medium=banner&utm_campaign=V2EX" target="_blank" onClick="recordOutboundLink(this, 'Outbound Links', 'iweek.ly');"><img src="http://web.me.com/v2ex.livid/badges/iweekly_20101018_2.png" border="0" width="120" height="90" alt="iWeek.ly" /></a>
                                <div class="sep5"></div>
                                <span style="font-size: 11px; color: #666;">
                                    <strong style="color: #000;"><a href="http://iweek.ly/?utm_source=v2ex&utm_medium=banner&utm_campaign=V2EX" class="black" onClick="recordOutboundLink(this, 'Outbound Links', 'iweek.ly');">周末画报·iWeekly</a></strong><div class="sep3"></div><span style="font-size: 12px;">全球最具影响力的 iPhone 中文媒体 app <span class="fade">•</span> 全面支持 iPhone 4 高清显示</span>
                                </span>
                            </td>
                            <td width="33%" valign="top">
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="cell">
                    <strong>Promoted by <a href="http://jiepang.com/?utm_source=v2ex&utm_medium=banner&utm_campaign=V2EX" target="_blank" onClick="recordOutboundLink(this, 'Outbound Links', 'jiepang.com');">街旁</a></strong>
                    <div clas="sep5"></div>
                    <strong class="fade">Reserved from 10/8 to 10/15, 2010</strong>
                    <div class="sep10"></div>
                    <table cellpadding="10" cellspacing="0" border="0" width="100%">
                        <tr>
                            <td width="33%" valign="top">
                                <a href="http://we.jiepang.com/careers/?utm_source=v2ex&utm_medium=banner&utm_campaign=V2EX" target="_blank" onClick="recordOutboundLink(this, 'Outbound Links', 'we.jiepang.com');"><img src="http://web.me.com/v2ex.livid/badges/jiepang.png" border="0" width="120" height="90" alt="iMoney HD" /></a>
                                <div class="sep5"></div>
                                <span style="font-size: 11px; color: #666;">
                                    <strong style="color: #000;"><a href="http://we.jiepang.com/careers/?utm_source=v2ex&utm_medium=banner&utm_campaign=V2EX" class="black" onClick="recordOutboundLink(this, 'Outbound Links', 'we.jiepang.com');">街旁寻 iOS 开发者</a></strong><div class="sep3"></div><span style="font-size: 12px;">街旁是一支短小精悍的团队，期待你的加入 :)</span>
                                </span>
                            </td>
                            <td width="34%" valign="top">
                                <a href="http://jiepang.com/?utm_source=v2ex&utm_medium=banner&utm_campaign=V2EX" target="_blank" onClick="recordOutboundLink(this, 'Outbound Links', 'jiepang.com');"><img src="http://web.me.com/v2ex.livid/badges/jiepang_2.png" border="0" width="120" height="90" alt="街旁" /></a>
                                <div class="sep5"></div>
                                <span style="font-size: 11px; color: #666;">
                                    <strong style="color: #000;"><a href="http://jiepang.com/?utm_source=v2ex&utm_medium=banner&utm_campaign=V2EX" class="black" onClick="recordOutboundLink(this, 'Outbound Links', 'jiepang.com');">街旁</a></strong><div class="sep3"></div><span style="font-size: 12px;">探索城市, 记录生活, 做街旁潮人！</span>
                                </span>
                            </td>
                            <td width="33%" valign="top">
                                
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="cell">
                    <strong>Promoted by <a href="http://iweek.ly/?utm_source=v2ex&utm_medium=banner&utm_campaign=V2EX" target="_blank" onClick="recordOutboundLink(this, 'Outbound Links', 'iweek.ly');">iWeek.ly</a></strong>
                    <div clas="sep5"></div>
                    <strong class="fade">Reserved from 8/8 to 10/8, 2010</strong>
                    <div class="sep10"></div>
                    <table cellpadding="10" cellspacing="0" border="0" width="100%">
                        <tr>
                            <td width="33%" valign="top">
                                <a href="http://m.metroer.com/?utm_source=v2ex&utm_medium=banner&utm_campaign=V2EX" target="_blank" onClick="recordOutboundLink(this, 'Outbound Links', 'm.metroer.com');"><img src="http://pic.yupoo.com/iweekly/096159c22d9d/s6j9vpzt.jpg" border="0" width="120" height="90" alt="良品杂志" /></a>
                                <div class="sep5"></div>
                                <span style="font-size: 11px; color: #666;">
                                    <strong style="color: #000;"><a href="http://m.metroer.com/?utm_source=v2ex&utm_medium=banner&utm_campaign=V2EX" class="black" target="_blank" onClick="recordOutboundLink(this, 'Outbound Links', 'm.metroer.com');">阅读·良品杂志</a></strong><div class="sep3"></div><span style="font-size: 12px;">平媒精选，阅读良品</span>
                                </span>
                            </td>
                            <td width="34%" valign="top">
                                <a href="http://iweek.ly/?utm_source=v2ex&utm_medium=banner&utm_campaign=V2EX" target="_blank" onClick="recordOutboundLink(this, 'Outbound Links', 'iweek.ly');"><img src="http://pic.yupoo.com/iweekly/313769c22d9e/tsunlkjv.jpg" border="0" width="120" height="90" alt="iWeek.ly" /></a>
                                <div class="sep5"></div>
                                <span style="font-size: 11px; color: #666;">
                                    <strong style="color: #000;"><a href="http://iweek.ly/?utm_source=v2ex&utm_medium=banner&utm_campaign=V2EX" class="black" target="_blank" onClick="recordOutboundLink(this, 'Outbound Links', 'iweek.ly');">周末画报·iWeekly</a></strong><div class="sep3"></div><span style="font-size: 12px;">全球最具影响力的中文生活方式媒体 @iPhone，现代传播新媒体项目</span>
                                </span>
                            </td>
                            <td width="33%" valign="top">
                                <a href="http://iphoto.ly/?utm_source=v2ex&utm_medium=banner&utm_campaign=V2EX" target="_blank" onClick="recordOutboundLink(this, 'Outbound Links', 'iphoto.ly');"><img src="http://pic.yupoo.com/iweekly/819989c22d9f/mx4gun4x.jpg" border="0" width="120" height="90" alt="iPhoto.ly" /></a>
                                <div class="sep5"></div>
                                <span style="font-size: 11px; color: #666;">
                                    <strong style="color: #000;"><a href="http://iphoto.ly/?utm_source=v2ex&utm_medium=banner&utm_campaign=V2EX" class="black" target="_blank" onClick="recordOutboundLink(this, 'Outbound Links', 'iphoto.ly');">中文摄影杂志</a></strong><div class="sep3"></div><span style="font-size: 12px;">摄影改变生活，Photography Change Life</span>
                                </span>
                            </td>
                        </tr>
                        <tr>
                            <td width="33%" valign="top">
                                <a href="http://www.animetaste.net/?utm_source=v2ex&utm_medium=banner&utm_campaign=V2EX" target="_blank" onClick="recordOutboundLink(this, 'Outbound Links', 'animetaste.net');"><img src="http://web.me.com/v2ex.livid/iweekly/animetaste.gif" border="0" width="120" height="90" alt="AnimeTaste" /></a>
                                <div class="sep5"></div>
                                <span style="font-size: 11px; color: #666;">
                                    <strong style="color: #000;"><a href="http://www.animetaste.net/?utm_source=v2ex&utm_medium=banner&utm_campaign=V2EX" class="black" target="_blank" onClick="recordOutboundLink(this, 'Outbound Links', 'animetaste.net');">AnimeTaste</a></strong><div class="sep3"></div><span style="font-size: 12px;">分享动画的快乐</span>
                                </span>
                            </td>
                            <td width="34%" valign="top">
                                <a href="http://itunes.apple.com/app/id389793068?mt=8" target="_blank" onClick="recordOutboundLink(this, 'Outbound Links', 'itunes.apple.com');"><img src="http://pic.yupoo.com/iweekly/AsmLdeUx/QXYgi.jpg" border="0" width="120" height="90" alt="iMoney HD" /></a>
                                <div class="sep5"></div>
                                <span style="font-size: 11px; color: #666;">
                                    <strong style="color: #000;"><a href="http://itunes.apple.com/app/id389793068?mt=8" class="black" onClick="recordOutboundLink(this, 'Outbound Links', 'itunes.apple.com');">iMoney HD</a></strong><div class="sep3"></div><span style="font-size: 12px;">11 国货币转换，为 iPhone 4 优化</span>
                                </span>
                            </td>
                            <td width="33%" valign="top"></td>
                        </tr>
                    </table>
                </div>
                <div class="cell">
                    <strong>Promoted by <a href="http://apps.luokai.info/?utm_source=v2ex&utm_medium=banner&utm_campaign=V2EX" target="_blank" onClick="recordOutboundLink(this, 'Outbound Links', 'apps.luokai.info');">lk Design</a></strong>
                    <div clas="sep5"></div>
                    <strong class="fade">Reserved from 7/25 to 8/8, 2010</strong>
                    <div class="sep10"></div>
                    <table cellpadding="10" cellspacing="0" border="0" width="100%">
                        <tr>
                            <td width="33%" valign="top">
                                <a href="http://itunes.apple.com/us/app/60-seconds/id349845481?mt=8" target="_blank"><img src="http://web.me.com/luokai/resource/60Seconds_120x90.png" border="0" width="120" height="90" alt="60 Seconds!" /></a>
                                <div class="sep5"></div>
                                <span style="font-size: 11px; color: #666;">
                                    <strong style="color: #000;"><a href="http://itunes.apple.com/us/app/60-seconds/id349845481?mt=8" class="black" target="_blank">60 Seconds!</a></strong><div class="sep3"></div><span style="font-size: 12px;">A game about challenging yourself!</span>
                                </span>
                            </td>
                            <td width="34%" valign="top">
                                <a href="http://itunes.apple.com/us/app/chn-laws/id365686640?mt=8" target="_blank"><img src="http://web.me.com/luokai/resource/CHNLaws_120x90.png" border="0" width="120" height="90" alt="CHN Laws 中国常用法律" /></a>
                                <div class="sep5"></div>
                                <span style="font-size: 11px; color: #666;">
                                    <strong style="color: #000;"><a href="http://itunes.apple.com/us/app/chn-laws/id365686640?mt=8" class="black" target="_blank">CHN Laws 中国常用法律</a></strong><div class="sep3"></div><span style="font-size: 12px;">这里收录最常用的中国法律。</span>
                                </span>
                            </td>
                            <td width="33%" valign="top">
                                <a href="http://itunes.apple.com/us/app/style-clock/id353431465?mt=8" target="_blank" target="_blank"><img src="http://web.me.com/luokai/resource/StyleClock_animation.gif" border="0" width="120" height="90" alt="Style Clock" /></a>
                                <div class="sep5"></div>
                                <span style="font-size: 11px; color: #666;">
                                    <strong style="color: #000;"><a href="http://itunes.apple.com/us/app/style-clock/id353431465?mt=8" class="black">Style Clock</a></strong><div class="sep3"></div><span style="font-size: 12px;">A stylish table clock on your desktop.</span>
                                </span>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="inner" align="center"><div class="sep5"></div>
                    <a href="mailto:hello@v2ex.com?subject=广告投放咨询" class="super normal button">我要投放</a>
                    <div class="sep5"></div>
                </div>
            </div>
        </div>
    <div class="c"></div>
    </div>
    </div>
    {% include 'common/bottom.html' %}
</body>
</html>