{% include 'common/head.html' %}
<body>
    {% include 'common/top.html' %}
    <div id="Wrapper">
    <div id="Main">
        <div id="Sidebar">   
        </div>
        <div id="Rightbar">
            {% include 'rightbar/user.html' %}
            <div class="sep20"></div>
            {% include 'rightbar/ads_netease.html' %}
        </div>
        <div id="Content">
            <div class="box">
                <div class="cell"><div class="fr"><a href="/advertisers">查看当前广告排期 →</a></div><span class="fade"><a href="/">{{ site.title }}</a> <span class="chevron">&nbsp;›&nbsp;</span> Advertise</span></div>
                <div class="cell">
                    <h1 style="padding-top: 0px;">在 V2EX 投放广告</h1>
                    <div class="sep20"></div>
                    <span class="bigger" style="line-height: 150%;">V2EX 是创意工作者们的社区。我们生活中的大部分时刻，都在创作那些人们不曾见过和体会过的美好事物。而其他的时候，我们聚在 V2EX，分享，探索，欢乐，宁静。</span>
                    <div class="sep10"></div>
                    <div class="sep20"></div>
                    <div class="bar">特别推荐给以下类型的广告主</div>
                    <div class="sep10"></div>
                    <ul style="line-height: 22px; color: #445; font-size: 13px; width: 500px">
                        <li>你可以通过这里宣传你新发布的产品，我们乐于尝试</li>
                        <li>你希望为自己的技术创业找到得力助手</li>
                        <li>你希望自己的 iPhone 或 Android 软件或配件获得更多曝光进而推动销量</li>
                        <li>你希望推广自己公司的各种网络服务</li>
                        <li><strong style="color: #db4937;">你希望自己的广告被中国互联网上最酷的一群人看到</strong></li>
                        <li>你有一个想法希望和更多人分享</li>
                    </ul>
                    <div class="sep20"></div>
                    <div class="bar">目前 V2EX 能够提供的广告形式</div>
                    <div class="sep10"></div>
                    <ul style="line-height: 22px; color: #445; font-size: 13px; width: 500px">
                        <li>广告位位于 Desktop 版本页面的右侧</li>
                        <li>目前接受图片或文字投放，图片尺寸 120x90，并且可配以 140 字以内的文字说明及 32 字以内的标题，样例可在本页右侧看到</li>
                        <li>该广告位是独家的，在你投放时，不会有其他广告来争夺注意力</li>
                    </ul>
                    <div class="sep20"></div>
                    <div class="bar">关于 V2EX 的广告效果</div>
                    <div class="sep10"></div>
                    <ul style="line-height: 22px; color: #445; font-size: 13px; width: 500px">
                        <li>我们的月度 pageviews 目前大约 120 万</li>
                        <li>每月覆盖超过 10 万名创意产业的专业人士</li>
                        <li>Alexa Rank 8500</li>
                        <li>我们一直在持续增长中</li>
                    </ul>
                    <div class="sep20"></div>
                    <div class="bar">广告投放流程</div>
                    <div class="sep10"></div>
                    <ol style="line-height: 22px; color: #445; font-size: 13px; width: 500px">
                        <li>点击下面的我要投放按钮预约投放时间</li>
                        <li>我们将在回信中告知可行的投放开始时间及付款方式</li>
                        <li>选择一种你觉得方便的付款方式进行付款</li>
                        <li>将广告物料发送给我们</li>
                        <li>开始投放！</li>
                    </ol>
                    <div class="sep20"></div>
                    <div style="background-color: #ffffe2; font-size: 13px; line-height: 22px; text-align: center; color: #333; padding: 10px; -moz-border-radius: 4px; -webkit-border-radius: 4px;">V2EX 所获得的广告收入，将用于支付所运行在的云计算平台所产生的各种费用，帮助社区能够持续发展。</div>
                </div>
                <div class="cell">
                    <div class="sep20"></div>
                    <div align="center">
                        <span class="fade bigger">广告以按天买断方式进行销售，价格 150 RMB or 25 USD 一天</span>
                        <div class="sep20"></div>
                        <a href="mailto:hello@v2ex.com?subject=广告投放咨询" class="super normal button">我要投放</a>
                    </div>
                    <div class="sep20"></div>
                </div>
                <div class="inner">
                这是我们当前的 <a href="/advertisers">广告排期</a> ，感谢所有广告主的支持！
                </div>
            </div>
        </div>
    <div class="c"></div>
    </div>
    </div>
    {% include 'common/bottom.html' %}
</body>
</html>