{% include 'common/head.html' %}
<body>
    {% include 'common/top.html' %}
    <div id="Wrapper">
    <div id="Main">
        <div id="Sidebar">   
        </div>
        <div id="Rightbar">
        </div>
        <div id="Content">
            <div class="box">
                <div class="cell"><div class="fr"><input type="button" class="super normal button" value="添加新页面" onclick="location.href='/backstage/new/page/{{ minisite.name }}';" /></div>
                    <div class="sep5"></div><span class="fade"><a href="/">{{ site.title }}</a> <span class="chevron">&nbsp;›&nbsp;</span> <a href="/backstage">{{ l10n.backstage }}</a> <span class="chevron">&nbsp;›&nbsp;</span> {{ minisite.title|escape }}</span><div class="sep3"></div></div>
                <div class="grid" style="font-size: 14px;">
                    <table cellpadding="10" cellspacing="0" border="0" width="100%">
                        {% for page in pages %}
                        <tr>
                            <td align="center" valign="middle" width="48" style="border-bottom: 1px solid #e2e2e2; border-right: 1px solid #e2e2e2;"><strong style="font-size: 24px; font-family: DINPro">{{ page.weight }}</strong></td>
                            <td align="left" valign="top" width="auto" style="border-bottom: 1px solid #e2e2e2; background-color: #f9f9f9;"><a href="/backstage/page/{{ page.key }}">{{ page.title|escape }}</a>
                            <div class="sep10"></div>
                            <span class="fade" style="font-size: 12px">{{ page.name }}</span>    
                            </td>
                        </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
    <div class="c"></div>
    </div>
    </div>
    {% include 'common/bottom.html' %}
</body>
</html>