{% include 'common/head.html' %}
<body>
    {% include 'common/top.html' %}
    <div id="Wrapper">
    <div id="Main">
        <div id="Sidebar">   
        </div>
        <div id="Rightbar">
            {% include 'rightbar/user.html' %}
        </div>
        <div id="Content">
            {% if message %}
            <div class="box">
                <div class="inner">{{ message }}</div>
            </div>
            <div class="sep20"></div>
            {% endif %}
            <div class="box">
                <div class="cell"><span class="fade"><a href="/">{{ site.title }}</a> <span class="chevron">&nbsp;›&nbsp;</span> <a href="/backstage">后台</a> <span class="chevron">&nbsp;›&nbsp;</span> 添加新站点</span></div>
                <div class="inner">
                    <form action="/backstage/new/minisite" method="post">
                    {% if errors %}
        			<strong>请解决以下错误之后继续。</strong>
        			<div class="sep10"></div>
        			<ul>
        				{% if minisite_title_error %}
        				<li>{{ minisite_title_error_message }}</li>
        				{% endif %}
        				{% if minisite_name_error %}
        				<li>{{ minisite_name_error_message }}</li>
        				{% endif %}
        				{% if minisite_description_error %}
        				<li>{{ minisite_description_error_message }}</li>
        				{% endif %}
        			</ul>
        			<div class="sep10"></div>
        			{% endif %}
                    <table cellpadding="5" cellspacing="0" border="0">
        			    <tr>
        			        <td width="80" align="right" valign="top">
        			            <div class="sep5"></div>
        			            站点名
        			        </td>
        			        <td width="200" align="left">
        			            <input type="text" class="sl" name="name" value="{{ minisite_name|escape }}" />
        			            <div class="sep5"></div>
        			            <span class="fade">这将成为 URL 的一部分，请勿使用系统保留关键字</span>
        			        </td>
        			    </tr>
        			    <tr>
        			        <td width="80" align="right">
        			            站点标题
        			        </td>
        			        <td width="200" align="left">
        			            <input type="text" class="sl" name="title" value="{{ minisite_title|escape }}" />
        			        </td>
        			    </tr>
        			    <tr>
        			        <td width="80" align="right">
        			            站点描述
        			        </td>
        			        <td width="200" align="left">
        			            <textarea class="ml" name="description">{{ minisite_description|escape }}</textarea>
        			        </td>
        			    </tr>
        			    <tr>
        			        <td width="80" align="right">
        			        </td>
        			        <td width="200" align="left">
        			            <input type="submit" value="保存" class="super normal button" />
        			        </td>
        			    </tr>
        			</table>
                    </form>
                </div>
            </div>
        </div>
    <div class="c"></div>
    </div>
    </div>
    {% include 'common/bottom.html' %}
</body>
</html>