{% include 'common/head.html' %}
<body>
    {% include 'common/top.html' %}
    <div id="Wrapper">
    <div id="Main">
        <div id="Sidebar">   
        </div>
        <div id="Rightbar">
            {% include 'rightbar/section_nodes.html' %}
        </div>
        <div id="Content">
            {% if message %}
            <div class="box">
                <div class="inner">{{ message }}</div>
            </div>
            <div class="sep20"></div>
            {% endif %}
            <div class="box">
                <div class="cell"><span class="fade"><a href="/">{{ site.title }}</a> <span class="chevron">&nbsp;›&nbsp;</span> <a href="/backstage">后台</a> <span class="chevron">&nbsp;›&nbsp;</span> {{ section.title|escape }}</span></div>
                <div class="inner">
                    <form action="/backstage/section/{{ section.name }}" method="post">
                    {% if errors %}
        			<strong>请解决以下错误之后继续。</strong>
        			<div class="sep10"></div>
        			<ul>
        			    {% if section_name_error %}
        				<li>{{ section_name_error_message }}</li>
        				{% endif %}
        				{% if section_title_error %}
        				<li>{{ section_title_error_message }}</li>
        				{% endif %}
        				{% if section_title_alternative_error %}
        				<li>{{ section_title_alternative_error_message }}</li>
        				{% endif %}
        				{% if section_header_error %}
        				<li>{{ section_header_error_message }}</li>
        				{% endif %}
        				{% if section_footer_error %}
        				<li>{{ section_footer_error_message }}</li>
        				{% endif %}
        			</ul>
        			<div class="sep10"></div>
        			{% endif %}
                    <table cellpadding="5" cellspacing="0" border="0">
        			    <tr>
        			        <td width="80" align="right">
        			            区域名
        			        </td>
        			        <td width="200" align="left">
        			            <input type="text" class="sl" name="name" value="{{ section_name|escape }}" />
        			        </td>
        			    </tr>
        			    <tr>
        			        <td width="80" align="right">
        			            区域标题
        			        </td>
        			        <td width="200" align="left">
        			            <input type="text" class="sl" name="title" value="{{ section_title|escape }}" />
        			        </td>
        			    </tr>
        			    <tr>
        			        <td width="80" align="right">
        			            区域副标题
        			        </td>
        			        <td width="200" align="left">
        			            <input type="text" class="sl" name="title_alternative" value="{{ section_title_alternative|escape }}" />
        			        </td>
        			    </tr>
        			    <tr>
        			        <td width="80" align="right">
        			            头部信息
        			        </td>
        			        <td width="200" align="left">
        			            <textarea class="ml" name="header">{{ section_header|escape }}</textarea>
        			        </td>
        			    </tr>
        			    <tr>
        			        <td width="80" align="right">
        			            尾部信息
        			        </td>
        			        <td width="200" align="left">
        			            <textarea class="ml" name="footer">{{ section_footer|escape }}</textarea>
        			        </td>
        			    </tr>
        			    <tr>
        			        <td width="80" align="right">
        			            区域节点数
        			        </td>
        			        <td width="200" align="left">
        			            <strong>{{ section.nodes }}</strong>
        			        </td>
        			    </tr>
        			    <tr>
        			        <td width="80" align="right">
        			        </td>
        			        <td width="200" align="left">
        			            <input type="submit" value="保存" class="super normal button" />
        			        </td>
        			    </tr>
        			</table>
                    </form>
                </div>
            </div>
        </div>
    <div class="c"></div>
    </div>
    </div>
    {% include 'common/bottom.html' %}
</body>
</html>