{% include 'common/head.html' %}
<body>
    {% include 'common/top.html' %}
    <div id="Wrapper">
    <div id="Main">
        <div id="Sidebar">   
        </div>
        <div id="Rightbar">
            {% include 'rightbar/user.html' %}
        </div>
        <div id="Content">
            <div class="box">
                <div class="cell">
                    <span class="bigger"><a href="/">{{ site.title }}</a> <span class="chevron">&nbsp;›&nbsp;</span> <a href="/go/{{ node.name}}">{{ node.title|escape }}</a> <span class="chevron">&nbsp;›&nbsp;</span> <a href="/t/{{ topic.num }}#reply{{ topic.replies }}">{{ topic.title|escape }}</a> <span class="chevron">&nbsp;›&nbsp;</span> 编辑回复</span>
                </div>
                <div class="cell">
                    <form action="/edit/reply/{{ reply.num }}" method="post">
                    {% if errors %}
        			<strong>请解决以下错误之后继续。</strong>
        			<div class="sep10"></div>
        			<ul>
        				{% if reply_content_error %}
        				<li>{{ reply_content_error_message }}</li>
        				{% endif %}
        			</ul>
        			<div class="sep10"></div>
                    {% endif %}
                    <textarea name="content" class="mll tall">{{ reply_content|escape }}</textarea>
                    <div class="sep10"></div>
                    <input type="submit" value="提交更改" class="super normal button" />
                    </form>
                </div>
                <div class="inner">
                    <span class="fade"><span class="chevron">‹&nbsp;</span>返回 <a href="/t/{{ topic.num }}#reply{{ topic.replies }}">{{ topic.title|escape }}</a></span>
                </div>
            </div>
        </div>
    <div class="c"></div>
    </div>
    </div>
    {% include 'common/bottom.html' %}
</body>
</html>