{% include 'common/head.html' %}
<body>
    {% include 'common/top.html' %}
    <div id="Wrapper">
    <div id="Main">
        <div id="Sidebar">   
        </div>
        <div id="Rightbar">
            {% include 'rightbar/user.html' %}
            <div class="sep20"></div>
            {% include 'rightbar/ads.html' %}
        </div>
        <div id="Content">
            <div class="box">
                <div class="cell">
                    <span class="fade"><a href="/">{{ site.title }}</a> <span class="chevron">&nbsp;›&nbsp;</span> <a href="/images">图片上传</a> <span class="chevron">&nbsp;›&nbsp;</span> 上传规则</span>
                </div>
                <div class="inner">
                    <h1>V2EX 图片上传规则</h1>
                    <ul style="font-size: 14px; line-height: 200%;">
                        <li>Project Daydream 存在的意义是为了有建设性的视觉共享</li>
                        <li>V2EX 有权因为任何原因删除图片，但是 V2EX 不会轻易删除图片</li>
                        <li>V2EX 有权随时更改此规则，当规则更改时，<a href="/go/v2ex">V2EX</a> 节点会有相关主题</li>
                        <li>当你按下上传按钮时，即意味着你完全同意此规则</li>
                    </ul>
                    <div class="sep20"></div>
                    <span class="chevron">‹</span> <a href="/images">返回图片上传</a>
                </div>
            </div>
        </div>
    <div class="c"></div>
    </div>
    </div>
    {% include 'common/bottom.html' %}
</body>
</html>