{% include 'common/head.html' %}
<body>
    {% include 'common/top.html' %}
    <div id="Wrapper">
    <div id="Main">
        <div id="Sidebar">
            
        </div>
        <div id="Rightbar">
            {% include 'rightbar/user.html' %}
            <div class="sep20"></div>
            <div class="box"><div class="cell"><span class="fade">{{ l10n.hottest_nodes }}</span></div><div class="inner" style="line-height: 200%;">{{ index_hottest_sidebar }}</div></div>
            <div class="sep20"></div>
            {% include 'rightbar/latest_nodes.html' %}
            <div class="sep20"></div>
            {% include 'rightbar/stats.html' %}
            {% include 'rightbar/recent_nodes.html' %}
            <div class="sep20"></div>
            {% include 'rightbar/ads.html' %}
            <div class="sep20"></div>
            {% include 'rightbar/goodies.html' %}
        </div>
        <div id="Content">
            <div class="box" id="topics_index">
                {% if member %}
                <div class="cell" align="center"><span class="snow">快速发贴 &nbsp;•&nbsp; <a href="/new/qna">提问</a> &nbsp;•&nbsp; <a href="/new/share">分享发现</a> &nbsp;•&nbsp; <a href="/new/random">随想</a> &nbsp;•&nbsp; <a href="/new/babel">Project Babel</a> &nbsp;•&nbsp; <a href="/new/iphone">iPhone</a> &nbsp;•&nbsp; <a href="/new/gae">Google App Engine</a> &nbsp;•&nbsp; <a href="/new/autistic">自言自语</a></span></div>
                {% endif %}
                {{ home }}
                {% if member %}
                <script type="text/javascript">
                blocked = [{{ blocked }}];
                $("#topics_index").children('.cell').each( function(index) {
                    for (i in blocked) {
                        if ($(this).hasClass('from_' + blocked[i])) {
                            $(this).css('display', 'none');
                        }
                    }
                    {% if member %}
                    if ($(this).hasClass('from_{{ member.num }}')) {
                        $(this).find('a.count').addClass('count_green');
                    } else {
                        $(this).find('a.count').addClass('count_blue');
                    }
                    {% else %}
                    $(this).find('a.count').addClass('count_blue');
                    {% endif %}
                });
                </script>
                {% endif %}
                <div class="inner">
        		    <span class="chevron">»</span> <a href="/recent">{{ l10n.more_recent_topics }}</a>
        		</div>
            </div>
            <div class="sep20"></div>
            <div class="box">
                <div class="cell"><span class="fade"><strong>{{ site.title }}</strong> / {{ l10n.nodes_portal }}</span></div>
                {{ c }}
            </div>
        </div>
    <div class="c"></div>
    </div>
    </div>
    {% include 'common/bottom.html' %}
</body>
</html>