{% include 'common/head.html' %}
<body>
    {% include 'common/top.html' %}
    <div id="Wrapper">
    <div id="Main">
        <div id="Sidebar">   
        </div>
        <div id="Rightbar">
            {% include 'rightbar/user.html' %}
        </div>
        <div id="Content">
            <div class="box">
                <div class="cell">
                    <span class="fade">密码设置</span>
                </div>
                <div class="inner">
                    <form action="/settings/password" method="post">
                    {% if password_error %}
        			<strong>请解决以下错误之后继续。</strong>
        			<div class="sep10"></div>
        			<ul>
        				{% if password_error %}
        				<li>{{ password_error_message }}</li>
        				{% endif %}
        			</ul>
        			<div class="sep10"></div>
        			{% else %}
        			<strong class="fade">如果不希望修改密码，请留空以下。</strong>
        			{% endif %}
        			<div class="sep5"></div>
        			<table cellpadding="5" cellspacing="0" border="0">
        			    <tr>
        			        <td width="80" align="right">
        			            当前密码
        			        </td>
        			        <td width="200" align="left">
        			            <input type="password" class="sl" name="password_current" value="{{ password_current|escape }}" />
        			        </td>
        			    </tr>
        			    <tr>
        			        <td width="80" align="right">
        			            新密码
        			        </td>
        			        <td width="200" align="left">
        			            <input type="password" class="sl" name="password_new" value="{{ password_new|escape }}" />
        			        </td>
        			    </tr>
        			    <tr>
        			        <td width="80" align="right">
        			        </td>
        			        <td width="200" align="left">
        			            <input type="submit" value="更改密码" class="super normal button" />
        			        </td>
        			    </tr>
        			</table>
                    </form>
                </div>
            </div>
        </div>
    <div class="c"></div>
    </div>
    </div>
    {% include 'common/bottom.html' %}
</body>
</html>