{% include 'common/head.html' %}
<body>
    {% include 'common/top.html' %}
    <div id="Wrapper">
    <div id="Main">
        <div id="Sidebar">   
        </div>
        <div id="Rightbar">
            {% include 'rightbar/user.html' %}
        </div>
        <div id="Content">
            <div class="box">
                <div class="cell"><span class="fade"><a href="/">{{ site.title }}</a> <span class="chevron">&nbsp;›&nbsp;</span> 登入</span></div>
                <div class="inner">
                    <form action="/reset/{{ token.token }}" method="post">
        			{% if errors %}
        			<strong>{{ error_message }}</strong>
        			<div class="sep10"></div>
        			{% else %}
        			你现在正在重新设置第 {{ token.member.num }} 号成员 <a href="/member/{{ token.member.username }}">{{ token.member.username }}</a> 的登入密码。
        			<div class="sep10"></div>
        			{% endif %}
        			<table cellpadding="5" cellspacing="0" border="0">
        			    <tr>
        			        <td width="80" align="right">
        			            新密码
        			        </td>
        			        <td width="200" align="left">
        			            <input type="password" class="sl" name="new_password" value="{{ new_password|escape }}" />
        			        </td>
        			    </tr>
        			    <tr>
        			        <td width="80" align="right">
        			            请再输入一次
        			        </td>
        			        <td width="200" align="left">
        			            <input type="password" class="sl" name="new_password_again" value="{{ new_password_again|escape }}" />
        			        </td>
        			    </tr>
        			    <tr>
        			        <td width="80" align="right">
        			        </td>
        			        <td width="200" align="left">
        			            <input type="submit" value="继续" class="super normal button" />
        			        </td>
        			    </tr>
        			</table>
                    </form>
                </div>
            </div>
        </div>
    <div class="c"></div>
    </div>
    </div>
    {% include 'common/bottom.html' %}
</body>
</html>