{% include 'common/head.html' %}
<body>
    {% include 'common/top.html' %}
    <div id="Wrapper">
    <div id="Main">
        <div id="Sidebar">   
        </div>
        <div id="Rightbar">
            {% include 'rightbar/user.html' %}
            <div class="sep20"></div>
            {% include 'rightbar/adsense.html' %}
        </div>
        <div id="Content">
            <div class="box">
                <div class="cell">
                    <a href="/">{{ site.title }}</a> <span class="chevron">&nbsp;›&nbsp;</span> 搜索 <span class="chevron">&nbsp;›&nbsp;</span> <strong>{{ q|escape }}</strong>
                </div>
                {% if node %}
                <div class="cell"><span class="fade bigger">相关节点 <span class="chevron">&nbsp;›&nbsp;</span> <a href="/go/{{ node.name }}">{{ node.title }}</a> &nbsp; <small>{{ node.topics }} 个主题</small></span></div>
                {% endif %}
                {% if topics %}
                {% include 'common/topics_search.html' %}
                {% else %}
                <div class="inner">
                <div class="note">非常抱歉，{{ site.title }} 没有能够找到任何匹配 <strong>{{ q|escape }}</strong> 的结果，请尝试缩小或更换关键字。如果你觉得这是一个错误，请至 <a href="/go/feedback">Feedback</a> 向我们反馈。谢谢。</div>
                </div>
                {% endif %}
            </div>
        </div>
    <div class="c"></div>
    </div>
    </div>
    {% include 'common/bottom.html' %}
</body>
</html>