{% include 'common/head.html' %}
<body>
    {% include 'common/top.html' %}
    <div id="Wrapper">
    <div id="Main">
        <div id="Sidebar">   
        </div>
        <div id="Rightbar">
            {% include 'rightbar/user.html' %}
            <div class="sep20"></div>
            {% include 'rightbar/adsense.html' %}
        </div>
        <div id="Content">
            <div class="box">
                <div class="cell">
                    <span class="fade"><a href="/">{{ site.title }}</a> <span class="chevron">&nbsp;›&nbsp;</span> World Clock</span>
                </div>
                <div class="inner">
                    <table cellpadding="5" cellspacing="0" border="0" class="time" width="100%">
                        <tr>
                            <td width="18%" align="right" class="city">Bangkok</td>
                            <td width="32%" align="left" class="now">{{ now|timezone:7|date:"D H:i" }}</td>
                            <td width="18%" align="right" class="city">New York</td>
                            <td width="32%" align="left" class="now">{{ now|timezone:16|date:"D H:i" }}</td>
                        </tr>
                        <tr>
                            <td width="18%" align="right" class="city">Beijing</td>
                            <td width="32%" align="left" class="now">{{ now|timezone:8|date:"D H:i" }}</td>
                            <td width="18%" align="right" class="city">Oslo</td>
                            <td width="32%" align="left" class="now">{{ now|timezone:2|date:"D H:i" }}</td>
                        </tr>
                        <tr>
                            <td width="18%" align="right" class="city">Berlin</td>
                            <td width="32%" align="left" class="now">{{ now|timezone:2|date:"D H:i" }}</td>
                            <td width="18%" align="right" class="city">Prague</td>
                            <td width="32%" align="left" class="now">{{ now|timezone:2|date:"D H:i" }}</td>
                        </tr>
                        <tr>
                            <td width="18%" align="right" class="city">Cupertino</td>
                            <td width="32%" align="left" class="now">{{ now|timezone:19|date:"D H:i" }}</td>
                            <td width="18%" align="right" class="city">San Francisco</td>
                            <td width="32%" align="left" class="now">{{ now|timezone:19|date:"D H:i" }}</td>
                        </tr>
                        <tr>
                            <td width="18%" align="right" class="city">Greenwich</td>
                            <td width="32%" align="left" class="now">{{ now|date:"D H:i" }}</td>
                            <td width="18%" align="right" class="city">Tokyo</td>
                            <td width="32%" align="left" class="now">{{ now|timezone:9|date:"D H:i" }}</td>
                        </tr>
                        <tr>
                            <td width="18%" align="right" class="city">Hong Kong</td>
                            <td width="32%" align="left" class="now">{{ now|timezone:8|date:"D H:i" }}</td>
                            <td width="18%" align="right" class="city">Zürich</td>
                            <td width="32%" align="left" class="now">{{ now|timezone:2|date:"D H:i" }}</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    <div class="c"></div>
    </div>
    </div>
    {% include 'common/bottom.html' %}
</body>
</html>