{% include 'common/head.html' %}
<body>
    {% include 'common/top.html' %}
    <div id="Wrapper">
    <div id="Main">
        <div id="Sidebar">   
        </div>
        <div id="Rightbar">
            {% include 'rightbar/user.html' %}
            <div class="sep20"></div>
            {% include 'rightbar/ads.html' %}
        </div>
        <div id="Content">
            <div class="box">
                <div class="cell"><span class="fade"><a href="/">{{ site.title }}</a> <span class="chevron">&nbsp;›&nbsp;</span> 令牌无效</span></div>
                <div class="inner">
                    你输入了一个无效的令牌。
    			<div class="sep10"></div>
    			<a href="/forgot">重新开始密码重设流程</a></div>
            </div>
        </div>
    <div class="c"></div>
    </div>
    </div>
    {% include 'common/bottom.html' %}
</body>
</html>