{% include 'common/head.html' %}
<script type="text/javascript">
	// reply a reply
	function replyOne(username){
	    replyContent = $("#reply_content");
		oldContent = replyContent.val();
		prefix = "@" + username + " ";
		newContent = ''
		if(oldContent.length > 0){
		    if (oldContent != prefix) {
		        newContent = prefix + oldContent;
		    }
		} else {
		    newContent = prefix
		}
		replyContent.focus();
		replyContent.val(newContent);
	}
</script>
<body>
    {% include 'common/top.html' %}
    <div id="Wrapper">
    <div id="Main">
        <div id="Sidebar">
        </div>
        <div id="Rightbar">
            {% include 'rightbar/user.html' %}
            <div class="sep20"></div>
            {% include 'rightbar/ads.html' %}
            {% include 'rightbar/recent_nodes.html' %}
        </div>
        <div id="Content">
            <div class="box">
                <div class="cell" style="min-height: 73px;">
                    <div class="fr snow"><a href="/member/{{ topic.member.username }}">{{ topic.member|avatar:"large" }}</a></div>
                    <span class="bigger"><a href="/">{{ site.title }}</a> {{ l10n.chevron }} <a href="/go/{{ node.name}}">{{ node.title|escape }}</a></span>
                    <h1>{{ topic.title|escape }}</h1>
                    <strong><small class="fade">{% if site.use_topic_types %}{% if topic.type %}<span style="display: inline-block; background-color: {{ topic.type_color }}; -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px; color: #fff; padding: 0px 8px 0px 8px; font-size: 11px;">{{ topic.type }}</span> &nbsp;{% endif %}{% endif %}By <a href="/member/{{ topic.member.username }}" class="dark">{{ topic.created_by }}</a>{% if topic.source %} via {{ topic.source }}{% endif %} at {{ topic.created|timesince }} ago, {{ topic.hits }} hits{% ifequal member.num 1 %} - <a href="#;" onclick="if (confirm('{{ l10n.sure_to_delete }} #{{ topic.num }} - {{ topic.title|escape }}')) { location = '/delete/topic/{{ topic.num }}'; }">DELETE</a>{% endifequal %}{% if can_edit %} - <a href="/edit/topic/{{ topic.num }}">EDIT</a> - <a href="/backstage/tidy/topic/{{ topic.num }}">TIDY</a>{% endif %}</small></strong>
                </div>
                <div class="inner">
                    <div class="content topic_content">{{ topic.content_rendered }}</div>
                </div>
            </div>
            {% ifequal topic.replies 0 %}
            <div class="sep20"></div>
            <div class="glass" align="center"><div class="inner"><span class="fade">{{ l10n.no_reply }}</span></div></div>
            {% else %}
            <div class="sep20"></div>
            <div class="box">
                <div class="cell"><div class="fr">{% if reply_reversed %}<a href="/t/{{ topic.num }}?r=0">{{ l10n.earlier_replies_first }}</a>{% else %}<a href="/t/{{ topic.num }}?r=1">{{ l10n.newer_replies_first }}</a>{% endif %} &nbsp;<span class="snow">|</span>&nbsp; {% if filter_mode %}<a href="/t/{{ topic.num }}?f=0">{{ l10n.show_all }}</a>{% else %}<a href="/t/{{ topic.num }}?f=1">{{ l10n.just_topic_creator }}</a>{% endif %}</div><span class="fade">{{ topic.replies }} {{ l10n.replies }} &nbsp;<span class="snow">|</span>&nbsp; {{ l10n.till }} {{ topic.last_touched|timezone:8|date:"Y-n-j G:i:s A" }}</span></div>
                <script type="text/javascript">
                    is_admin = {{ is_admin }};
                    {% if member %}
                    member_id = {{ member.num }};
                    {% else %}
                    member_id = 0;
                    {% endif %}
                    replies_keys = new Array(); replies_ids = new Array(); replies_parents = new Array();
                </script>
                <div id="replies">
                {{ r }}
                </div>
                {% if member %}
                <script type="text/javascript">
                blocked = [{{ blocked }}];
                $("#replies").children('.cell').each( function(index) {
                    for (i in blocked) {
                        if ($(this).hasClass('from_' + blocked[i])) {
                            $(this).css('display', 'none');
                        }
                    }
                });
                i = 0;
                $("#replies").children('.cell').each( function(index) {
                    i++;
                    if (is_admin) {
                        $(this).find("span.ops").html(' &nbsp; <a href="/backstage/tidy/reply/' + replies_ids[index] + '">TIDY</a> &nbsp; <a href="/edit/reply/' + replies_ids[index] + '">EDIT</a> &nbsp; <a href="#;" onclick="if (confirm(\'{{ l10n.sure_to_delete }} #' + i + '\')) { location.href = \'/backstage/remove/reply/' + replies_keys[index] + '\'; }">DEL</a> &nbsp;<img src="/static/img/' + (replies_parents[index] ? 'dot_green.png' : 'dot_red.png') + '" align="absmiddle" />');
                    }
                }
                );
                </script>
                {% endif %}
            </div>
            {% endifequal %}
            {% if member %}
            <div class="sep20"></div>
            <script type="text/javascript">
            function v() {
                r = document.getElementById('reply_content');
                if (r.value.length == 0) {
                    e = document.getElementById('e');
                    e.innerHTML = "{{ l10n.reply_content_cannot_be_empty }}";
                    return false;
                }
            }
            
            function c() {
                e = document.getElementById('e');
                if (e.innerHTML.length > 0) {
                    e.innerHTML = '';
                }
            }
            </script>
            <div class="box"><form action="/t/{{ topic.num }}" method="post" onsubmit="return v()">
                <div class="cell">{% if errors %}
                <strong class="black">{{ reply_content_error_message }}</strong>
                {% else %}
                <span class="fade">{{ l10n.add_a_reply_now }}</span>
                {% endif %}
                </div>
                <div class="inner">
                    <textarea class="mll" name="content" id="reply_content"  onkeyup="c();"></textarea>
                    <div class="sep10"></div>
                    <div class="fr fade" id="e"></div>
                    <input type="submit" class="super normal button" value="{{ l10n.send }}" />
                </div></form>
            </div>
            <div class="sep20"></div>
            <div class="box">
                <div class="inner"><span class="fade" style="line-height: 200%;">{{ l10n.no_pointless }}<div class="sep10"></div>{{ l10n.better_to_block }}</span></div>
            </div>
            {% endif %}
        </div>
    <div class="c"></div>
    </div>
    </div>
    {% include 'common/bottom.html' %}
</body>
</html>