{% include 'common/head.html' %}
<script type="text/javascript">
	// reply a reply
	function replyOne(username){
	    replyContent = $("#reply_content");
		oldContent = replyContent.val();
		prefix = "@" + username + " ";
		newContent = ''
		if(oldContent.length > 0){
		    if (oldContent != prefix) {
		        newContent = prefix + oldContent;
		    }
		} else {
		    newContent = prefix
		}
		replyContent.focus();
		replyContent.val(newContent);
	}
</script>
<body>
    {% include 'common/top.html' %}
    <div id="Wrapper">
    <div id="Main">
        <div id="Sidebar">
        </div>
        <div id="Rightbar">
            {% include 'rightbar/user.html' %}
            <div class="sep20"></div>
            {% include 'rightbar/ads.html' %}
            {% include 'rightbar/recent_nodes.html' %}
        </div>
        <div id="Content">
            <div class="box">
                <div class="cell" style="min-height: 73px;">
                    <div class="fr snow"><a href="/member/{{ topic.member.username }}">{{ topic.member|avatar:"large" }}</a></div>
                    <span class="bigger"><a href="/">{{ site.title }}</a> <span class="chevron">&nbsp;›&nbsp;</span> <a href="/go/{{ node.name}}">{{ node.title|escape }}</a></span>
                    <h1>{{ topic.title|escape }}</h1>
                    <strong><small class="fade">By <a href="/member/{{ topic.member.username }}" class="dark">{{ topic.created_by }}</a>{% if topic.source %} via {{ topic.source }}{% endif %} at {{ topic.created|timesince }} ago, {{ topic.hits }} hits{% ifequal member.num 1 %} - <a href="#;" onclick="if (confirm('确认删除标题为 {{ topic.title|escape }} 的第 {{ topic.num }} 号主题？')) { location = '/delete/topic/{{ topic.num }}'; }">DELETE</a>{% endifequal %}{% if can_edit %} - <a href="/edit/topic/{{ topic.num }}">EDIT</a>{% endif %}</small></strong>
                </div>
                <div class="inner">
                    <div class="content topic_content">{{ topic.content_rendered }}</div>
                </div>
            </div>
            {% ifequal topic.replies 0 %}
            <div class="sep20"></div>
            <div class="glass" align="center"><div class="inner"><span class="fade">目前尚无回复</span></div></div>
            {% else %}
            <div class="sep20"></div>
            <div class="box">
                <div class="cell"><div class="fr">{% if reply_reversed %}<a href="/t/{{ topic.num }}?r=0">按顺序显示回复</a>{% else %}<a href="/t/{{ topic.num }}?r=1">按倒序显示回复</a>{% endif %} &nbsp; {% if filter_mode %}<a href="/t/{{ topic.num }}?f=0">显示全部</a>{% else %}<a href="/t/{{ topic.num }}?f=1">只看楼主</a>{% endif %}</div><span class="fade">截至 {{ topic.last_touched|timezone:8|date:"Y-n-j G:i:s A" }} 共收到 {{ topic.replies }} 条回复</span></div>
                <script type="text/javascript">
                    is_admin = {{ is_admin }};
                    replies_keys = new Array(); replies_ids = new Array(); replies_parents = new Array();
                </script>
                <div id="replies">
                {{ r }}
                </div>
                {% if member %}
                <script type="text/javascript">
                blocked = [{{ blocked }}];
                $("#replies").children('.cell').each( function(index) {
                    for (i in blocked) {
                        if ($(this).hasClass('from_' + blocked[i])) {
                            $(this).css('display', 'none');
                        }
                    }
                });
                $("#replies").children('.cell').each( function(index) {
                    if (is_admin) {
                        $(this).find("span.ops").html(' &nbsp; <a href="/backstage/tidy/reply/' + replies_ids[index] + '">TIDY</a> &nbsp; <a href="/edit/reply/' + replies_ids[index] + '">EDIT</a> &nbsp; <a href="#;" onclick="if (confirm(\'确认删除此回复？\')) { location.href = \'/backstage/remove/reply/' + replies_keys[index] + '\'; }">DEL</a> &nbsp;<img src="/static/img/' + (replies_parents[index] ? 'dot_green.png' : 'dot_red.png') + '" align="absmiddle" />');
                    }
                }
                );
                </script>
                {% endif %}
            </div>
            {% endifequal %}
            {% if member %}
            <div class="sep20"></div>
            <script type="text/javascript">
            function v() {
                r = document.getElementById('reply_content');
                if (r.value.length == 0) {
                    e = document.getElementById('e');
                    e.innerHTML = '你尚未输入回复内容';
                    return false;
                }
            }
            
            function c() {
                e = document.getElementById('e');
                if (e.innerHTML.length > 0) {
                    e.innerHTML = '';
                }
            }
            </script>
            <div class="box"><form action="/t/{{ topic.num }}" method="post" onsubmit="return v()">
                <div class="cell">{% if errors %}
                <strong class="black">{{ reply_content_error_message }}</strong>
                {% else %}
                <span class="fade">现在就加盖一层</span>
                {% endif %}
                </div>
                <div class="inner">
                    <textarea class="mll" name="content" id="reply_content"  onkeyup="c();"></textarea>
                    <div class="sep10"></div>
                    <div class="fr fade" id="e"></div>
                    <input type="submit" class="super normal button" value="发送" />
                </div></form>
            </div>
            <div class="sep20"></div>
            <div class="box">
                <div class="cell"><span class="fade" style="line-height: 200%;">{{ site.title }} 是一个关于分享和探索的地方，欢迎在这里表明你的态度和立场，但是争吵是毫无必要的。如果你实在觉得不想再看到某人的回复和新主题，你可以点击他的个人主页，然后按下“屏蔽”按钮。在这里，你可以选择只与自己兴味相投的人进行平等对话。</span></div>
            </div>
            {% endif %}
        </div>
    <div class="c"></div>
    </div>
    </div>
    {% include 'common/bottom.html' %}
</body>
</html>