<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="zh-CN">
<head>
	<meta charset="UTF-8" />
	<meta content="True" name="HandheldFriendly" />
	<meta content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0; name='viewport'" />
	<title>{{ page_title|escape }}{% if member.notifications %} {% ifequal member.notifications 0 %}{% else %}({{ member.notifications }}){% endifequal %}{% endif %}</title>
	<link rel="stylesheet" type="text/css" media="screen"  href="/css/{{ site.theme }}.css?v={{ system_version }}" />
	<link rel="shortcut icon" href="/favicon.ico" />
	{% if feed_link %}
	<link rel="alternate" type="application/atom+xml" href="{{ feed_link }}" title="{{ feed_title }}" />
	{% else %}
	<link rel="alternate" type="application/atom+xml" href="http://feeds.feedburner.com/v2ex/latest" />
    {% endif %}
	{% if canonical %}<link rel="canonical" href="{{ canonical }}" />{% endif %}
	<script src="/static/js/jquery.js" type="text/javascript"></script>
	{% if site.analytics %}
	<script type="text/javascript">
    function recordOutboundLink(link, category, action) {
        try {
            var pageTracker=_gat._getTracker("{{ site.analytics }}");
            pageTracker._trackEvent(category, action);
            // setTimeout('document.location = "' + link.href + '"', 100)
        } catch(err) {}
    }
    </script>
    {% endif %}
    {{ site.meta }}
    {% if page_description %}
    <meta name="description" content="{{ page_description|escape }}" />
    {% else %}
    <meta name="description" content="{{ site.title }} - {{ site.description }}" />
    {% endif %}
</head>
