<div id="Top">
    <div id="TopMain">
        <div id="Logo"><a href="/" class="white">V2EX</a></div>
        <div id="Navigation">
            {% if member %}
            <ul>
                <li><a href="/" class="white">首页</a></li>
                <li><a href="/member/{{ member.username }}" class="white">{{ member.username }}</a></li>
                <!--<li><a href="/mentions" class="white">提到我的</a></li>-->
                <li><a href="/notes" class="white">记事本</a></li>
                <li><a href="/settings" class="white">设置</a></li>
                {% ifequal member.num 1 %}
                <li><a href="/backstage" class="white">后台</a></li>
                {% endifequal %}
                <li><a href="/signout" class="white">登出</a></li>
            </ul>
            {% else %}
            <ul>
                <li><a href="/" class="white">首页</a></li>
                <li><a href="/signup" class="white">注册</a></li>
                <li><a href="/signin" class="white">登入</a></li>
            </ul>
            {% endif %}
        </div>
        <div id="Search"><form method="post" action="/_dispatcher"><input type="text" class="search" maxlength="40" name="q" value="{{ q|escape }}" /><input type="submit" class="super normal button" value="Search" style="-moz-border-radius: 0px 3px 3px 0px; border-left: none;" /></form></div>
    </div>
</div>