<div id="Top"><a href="#;" name="_top"></a>
    <div id="TopMain">
        <a href="/"><img src="/static/img/logo.png" border="0" style="display: block; float: left; margin-top: 11px; margin-left: 20px;" /></a>
        <div id="Navigation">
            {% if member %}
            <ul>
                <li><a href="/" class="white">{{ l10n.home }}</a></li>
                <li><a href="/member/{{ member.username }}" class="white">{{ member.username }}</a></li>
                {% ifequal member.twitter_oauth 1 %}
                <li><a href="/twitter" class="white"><img src="/static/img/bird.png" style="padding: 0px 3px 0px 3px;" border="0" alt="Twitter" /></a></li>
                {% endifequal %}
                <!--<li><a href="/images" class="white">图片</a></li>-->
                <!--<li><a href="/mentions" class="white">提到我的</a></li>-->
                <li><a href="/notes" class="white">{{ l10n.notes }}</a></li>
                <li><a href="/place/{{ member.ip }}" class="white">{{ l10n.nearby }}</a></li>
                <li><a href="/settings" class="white">{{ l10n.settings }}</a></li>
                {% ifequal member.level 0 %}
                <li><a href="/backstage" class="white">{{ l10n.backstage }}</a></li>
                {% endifequal %}
                <li><a href="/signout" class="white">{{ l10n.signout }}</a></li>
            </ul>
            {% else %}
            <ul>
                <li><a href="/" class="white">{{ l10n.home }}</a></li>
                <li><a href="/signup" class="white">{{ l10n.signup }}</a></li>
                <li><a href="/signin" class="white">{{ l10n.signin }}</a></li>
            </ul>
            {% endif %}
        </div>
        <script type="text/javascript">
            var dispatch = function() {
                q = document.getElementById("q");
                if (q.value != "") {
                    location.href = '/q/' + q.value;
                    return false;
                } else {
                    return false;
                }
            }
        </script>
        <div id="Search"><form onsubmit="return dispatch()"><input type="text" class="search" maxlength="40" name="q" value="{{ q|escape }}" id="q" /><input type="submit" class="super normal button" value="Search" style="-moz-border-radius: 0px 5px 5px 0px; border: none;" /></form></div>
    </div>
</div>