{% for topic in latest %}
<div class="cell from_{{ topic.member.num }}">
<table cellpadding="0" cellspacing="0" border="0" width="100%"><tr>
	<td valign="top" class="avatar"><a href="/member/{{ topic.created_by }}">{{ topic.member|avatar:"normal" }}</a></td>
	<td style="padding-left: 12px" valign="top">
	    {% ifequal topic.replies 0 %}{% else %}
	        <div class="fr">
	            {% ifequal member.num topic.member_num %}
	                <a href="/t/{{ topic.num }}#reply{{ topic.replies }}" class="count_orange">{{ topic.replies }}</a>
	            {% else %}
	                <a href="/t/{{ topic.num }}#reply{{ topic.replies }}" class="count_livid">{{ topic.replies }}</a>
	            {% endifequal %}
	        </div>
	    {% endifequal %}
	    <div class="sep3"></div>
		<span class="bigger" style="font-size: 16px; line-height: 130%;">{% if site.use_topic_types %}{% if topic.type %}<span style="display: inline-block; background-color: {{ topic.type_color }}; -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px; color: #fff; padding: 0px 8px 0px 8px; font-size: 13px;">{{ topic.type }}</span> &nbsp;{% endif %}{% endif %}<a href="/t/{{ topic.num }}#reply{{ topic.replies }}">{{ topic.title|escape }}</a></span>
		<div class="sep5"></div>
        <span class="created"><strong><a href="/member/{{ topic.created_by|escape }}" class="dark">{{ topic.created_by|escape }}</a></strong>{% if topic.content_length%} &nbsp;•&nbsp; {{ topic.content_length }} 个字符{% endif %} &nbsp;•&nbsp; {{ topic.hits }} 次点击 &nbsp;•&nbsp; {{ topic.last_touched|timesince }} ago{% if topic.last_reply_by %} replied by <a href="/member/{{ topic.last_reply_by }}" class="dark">{{ topic.last_reply_by }}</a>{% endif %}</span>
	</td>
	</tr>
</table>
</div>
{% endfor %}
{% if member %}
<script type="text/javascript">
blocked = [{{ blocked }}];
$("#topics_index").children('.cell').each( function(index) {
    for (i in blocked) {
        if ($(this).hasClass('from_' + blocked[i])) {
            $(this).css('display', 'none');
        }
    }
});
</script>
{% endif %}