{% for reply in replies %}
<div class="cell reply from_{{ reply.member_num }}">
    <table cellpadding="0" cellspacing="0" border="0" width="100%">
        <tr>
            <td width="48" valign="top"><a href="/member/{{ reply.created_by }}">{{ reply.member|avatar:"normal" }}</a></td>
            <td width="10"></td>
            <td width="auto" valign="top">
												<div class="fr" id="reply_{{ reply.num }}_buttons">
													<strong><small class="snow">#{{ forloop.counter }} - {{ reply.created|timesince }} ago{% if member %} &nbsp; <img src="/static/img/reply.png" align="absmiddle" border="0" alt="回复 {{ reply.member.username }}" onclick="replyOne('{{ reply.member.username }}')" class="clickable" />{% endif %}<span class="ops"></span></small></strong>
												</div>
                <div class="sep3"></div>
                <strong><a href="/member/{{ reply.created_by }}" class="dark">{{ reply.created_by }}</a></strong>{% if reply.source %}<span class="snow">&nbsp; via {{ reply.source }}</span>{% endif %}
                <div class="sep5"></div>
                <div class="content reply_content">{{ reply.content|escape|youku|imgly|clly|mentions|gist|urlize|linebreaksbr }}</div>
            </td>
    </table>
    <script>
    replies_keys[({{ forloop.counter }} - 1)] = '{{ reply.key }}';
    replies_ids[({{ forloop.counter }} - 1)] = '{{ reply.num }}';
    {% if reply.parent %}
    replies_parents[({{ forloop.counter }} - 1)] = 1;
    {% else %}
    replies_parents[({{ forloop.counter }} - 1)] = 0;
    {% endif %}
    </script>
</div>
{% endfor %}